.orbeon .fb-custom-xml-dialog {
  width: 70em;
}
.orbeon .fb-custom-xml-dialog.xxforms-set-height .xxforms-dialog-body .fb-dialog-remaining-height {
  top: 100px;
}
.orbeon .fb-custom-xml-dialog .xforms-select1 {
  margin: 0.5em 0 1em 0;
  display: block;
}
.orbeon .fb-custom-xml-dialog .xforms-select1 span {
  margin-bottom: 0.5em;
}
