.xbl-fr-time {
    .fr-field-width-natural {
        display: block;
        max-width: 142px;
    }
    .orbeon .fr-grid & .input-append .xforms-input .xforms-type-time {
        // Override CSS we still kept for pre-2018.2 date/time controls
        padding-right: 6px; // override
        background-image: none;
        width: 100%;
    }

    .input-append {
        .add-on {
            // Make things look good with icon
            i { margin-top: 0 }
        }
    }

    // Don't show the add-on when using the native widget
    input[type = "time"] + .add-on { display: none }

    // Override Bootstrap padding for text not to show too low on Safari desktop
    input[type = "time"] {
        padding-top: 1px;
        padding-bottom: 1px;
        // Fix alignment in iOS
        &::-webkit-date-and-time-value {
            padding-top: 4px;
        }
    }
}
