<Configuration status="error" dest="err" name="OrbeonTestConfig">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{ISO8601} - %tid - %-5level %logger{1} - %message%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.orbeon.oxf.fr.persistence.test.DDLTest"   level="debug"/>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>

</Configuration>
