@import (reference)  "../../../apps/fr/style/form-runner-common";


.orbeon {
  .xbl-fr-explanation .xforms-mediatype-text-html {
    line-height: @frRelativeLineHeight; // set line height to something proportional to the font size, unlike the default
    li {
      line-height: @frRelativeLineHeight;
    }
  }
}

@media print {
  .orbeon {
    .xbl-fr-explanation .xforms-mediatype-text-html {
      line-height: @frRelativeLineHeightPdf;
      li {
        line-height: @frRelativeLineHeightPdf;
      }
    }
  }
}