@media (max-width: 980px) {
  .orbeon .fr-view {
    width: auto;
    padding: 0 10px;
  }
  .orbeon .navbar-inner {
    border-radius: 0;
  }
  .orbeon .span12 {
    width: auto;
    float: none;
  }
  .orbeon .fr-buttons .xforms-trigger button {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .orbeon .fr-grid:not(.fr-repeat) {
    table-layout: inherit;
  }
  .orbeon .fr-grid:not(.fr-repeat) > .fr-grid-body > .fr-grid-tr > .fr-grid-td {
    display: block;
  }
  .orbeon.xforms-mobile select,
  .orbeon.xforms-mobile textarea,
  .orbeon.xforms-mobile input[type="text"],
  .orbeon.xforms-mobile input[type="password"],
  .orbeon.xforms-mobile input[type="datetime"],
  .orbeon.xforms-mobile input[type="datetime-local"],
  .orbeon.xforms-mobile input[type="date"],
  .orbeon.xforms-mobile input[type="month"],
  .orbeon.xforms-mobile input[type="time"],
  .orbeon.xforms-mobile input[type="week"],
  .orbeon.xforms-mobile input[type="number"],
  .orbeon.xforms-mobile input[type="email"],
  .orbeon.xforms-mobile input[type="url"],
  .orbeon.xforms-mobile input[type="search"],
  .orbeon.xforms-mobile input[type="tel"],
  .orbeon.xforms-mobile input[type="color"] {
    font-size: 16px;
  }
}
