build/
builder/target/
tmp/
target/
build-local.properties
.idea/
.idea.bak*
.bsp
exist-data*
_exist-data*
lib/xerces-2.12-orbeon-jar/
# SBT command history
.target/.history
src/resources-packaged-target/
src/resources-local/
resources-local-A/
resources-local-B/
resources-local/
node_modules/
tmp
scratch.txt
*~
