build/
builder/target/
tmp/
target/
build-local.properties
.idea/
# SBT command history
.target/.history
src/resources-packaged-target/
src/resources-local/
resources-local-A/
resources-local-B/
resources-local/
node_modules/
tmp
scratch.txt
*~
