# Build outputs
build/
target/
builder/target/
src/resources-packaged-target/

# Local/temporary files
tmp/
scratch.txt
*~
build-local.properties

# IDE/editor
.idea/
.idea.bak*
.vscode

# Scala tooling
.bloop
.bsp
.metals
metals.sbt
.target/.history

# Java
.java-version

# JavaScript / Node
node_modules/
package-lock.json
.angular
angular/dist/
angular-test/dist/
react/dist/
react-test/dist/

# macOS
.DS_Store

# Project-specific
exist-data*
_exist-data*
demo-sqlite-database/java.io.tmpdir/
# SQLite file used for tests
form-runner/test-db.sqlite
tools/test-db.sqlite
lib/xerces-2.12-orbeon-jar/
resources-local/
# FormMetadataApiTest
src/test/resources/properties-form-metadata-api-test.xml
CLAUDE.md