.orbeon .xforms-dialog.fb-dialog-itemsets {
  width: 600px;
  max-width: none;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .xbl-fr-grid {
  max-height: 450px;
  overflow-y: auto;
  padding: 0;
  clear: both;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .xbl-fr-grid > * {
  background-color: white;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .xbl-fr-grid .fr-grid {
  table-layout: auto;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .fb-itemset-hint-cell {
  width: 200px;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .fr-grid-2-columns .xforms-input input {
  width: 13em;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .xforms-invalid .xforms-input-input {
  border-color: #df731b;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .navbar {
  margin-bottom: 10px;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .fb-itemset-selected {
  text-align: center;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .fb-itemset-selected .checkbox,
.orbeon .xforms-dialog.fb-dialog-itemsets .fb-itemset-selected .radio {
  margin: 0;
}
.orbeon .xforms-dialog.fb-dialog-itemsets .fb-itemset-selected .checkbox > span,
.orbeon .xforms-dialog.fb-dialog-itemsets .fb-itemset-selected .radio > span {
  display: none;
}
