<web-app version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee">
    <display-name>Orbeon Forms - Form Runner Proxy Portlet</display-name>
    <description>
        Proxy portlet allowing the use of a separately-deployed Form Runner instance.
    </description>

    <servlet>
        <servlet-name>orbeon-trampoline-servlet</servlet-name>
        <servlet-class>org.orbeon.oxf.portlet.OrbeonTrampolineServlet</servlet-class>
        <init-param>
            <param-name>oxf.xforms.renderer.context</param-name>
            <param-value>/orbeon</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Uncomment and configure this to map the Orbeon portlet XForms filter -->
    <!--
    <servlet-mapping>
        <servlet-name>orbeon-trampoline-servlet</servlet-name>
        <url-pattern>/xforms-trampoline</url-pattern>
    </servlet-mapping>
    -->

</web-app>
