<web-app version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee">
    <display-name>Orbeon Forms - Form Runner Proxy Portlet</display-name>
    <description>
        Proxy portlet allowing the use of a separately-deployed Form Runner instance.
    </description>
</web-app>
