@import (reference) "form-runner-common";

.orbeon {

    @media (max-width: 980px) {

        .fr-view {
            width: auto;
            // Add padding on the sides, so the content doesn't touch the border of the viewport
            padding: 0 10px;
        }

        .span12 {
            // Don't use fixed width
            width: auto;
            // Isn't sized based on its container if floated
            float: none;
        }

        // Prevent mobile browsers from zooming when an input gets the focus
        &.xforms-mobile {
            select,
            textarea,
            input[type="text"],
            input[type="password"],
            input[type="datetime"],
            input[type="datetime-local"],
            input[type="date"],
            input[type="month"],
            input[type="time"],
            input[type="week"],
            input[type="number"],
            input[type="email"],
            input[type="url"],
            input[type="search"],
            input[type="tel"],
            input[type="color"] {
                font-size: 16px;
            }
        }
    }

    // For phones, use 1 column
    @media (max-width: 640px) {

        .xbl-fr-grid .fr-grid:not(.fr-repeat-single-row) {

            // Instead of fixed, so each cell doesn't take 1/x of the width of the table
            table-layout: inherit;

            & > .fr-grid-body .fr-grid-td {
                // The main thing this CSS does: change table cells into blocks
                display: block;
            }

            &.fr-repeat-multiple-rows {
                // Only keep 2 table headers: one for the column with the dropdown button, and one for fields
                .fr-grid-th:nth-child(n+3) {
                    display: none
                }
            }
        }

        .fr-buttons {
            .xforms-trigger button {
                // Each button is on its own line and takes the whole line
                display: block;
                width: 100%;
                margin-left: 0;
            }
        }
    }

}
