.xbl-fr-autocomplete {
  display: inline-block;
  width: 100%;
}
.xbl-fr-autocomplete .fr-autocomplete-container {
  display: table;
  width: 100%;
}
.xbl-fr-autocomplete .fr-autocomplete-container > .yui-ac {
  position: static;
  display: table-row;
}
.xbl-fr-autocomplete .fr-autocomplete-container > .yui-ac > .fr-autocomplete-search,
.xbl-fr-autocomplete .fr-autocomplete-container > .yui-ac > .fr-autocomplete-show-suggestions-button {
  display: table-cell;
}
.xbl-fr-autocomplete .fr-autocomplete-search {
  width: 100%;
}
.xbl-fr-autocomplete .xforms-input-input {
  position: static;
  width: 100%;
}
.xbl-fr-autocomplete .yui-ac-content {
  width: auto;
  min-width: 200px;
  max-width: 400px;
  overflow-y: auto;
  max-height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xbl-fr-autocomplete .fr-autocomplete-show-suggestions-button button {
  width: 40px;
  height: 28px;
  margin-left: 3px;
  padding-top: 0;
  padding-bottom: 0;
}
