/**
 * The structure of the HTML as seen by the browser can be summaries as follows:
 *
 *      div class="xbl-fr-autocomplete"
 *          div class="yui-ac"                                                              position: static (overrides YUI: relative, see comment below)
 *              span class="xforms-input"
 *                  input class="xforms-input-input"    Input in which users type           width: 140px, position: static (overrides YUI relative, see comment below)
 *              div class="xbl-fr-select1-button"       Component showing full itemset
 *              div class="yui-ac-container"                                                position: absolute
 *                  div class="yui-ac-content"          Suggestions                         position: absolute, overflow: hidden, width: 140px
 *
 *
 * For testing, to keep the suggestion list open while interacting with Firefox, disabled the display: none on the <div class="yui-ac-content">.
 */
.xbl-fr-autocomplete .xforms-input-input {
  position: static;
  width: 140px;
}
.xbl-fr-autocomplete .yui-ac {
  position: static;
}
.xbl-fr-autocomplete .yui-ac-content {
  width: 140px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.xbl-fr-autocomplete .yui-ac {
  display: -moz-inline-box;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.xbl-fr-autocomplete .yui-ac {
  white-space: nowrap;
}
.xbl-fr-autocomplete .xbl-fr-select1-button {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
}
.xbl-fr-autocomplete .xbl-fr-select1-button .yui-menu-button {
  vertical-align: middle;
}
.xbl-fr-autocomplete input {
  vertical-align: middle;
}
.xbl-fr-autocomplete .fr-autocomplete-show-suggestions-button button {
  height: 28px;
  margin-left: 3px;
  padding-top: 0;
  padding-bottom: 0;
}
.xbl-fr-autocomplete .fr-autocomplete-show-suggestions-button button img {
  *max-width: none;
}
