.orbeon .xforms-dialog.fb-permissions-dialog {
  width: 500px;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-grid {
  margin-top: 1em;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-grid .fr-grid-col-1 {
  width: 150px;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-grid .fr-grid-td,
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-grid .fr-grid-th {
  text-align: center;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-grid .fr-grid-th .xforms-label {
  font-weight: bold;
  text-align: center;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-grid .fr-grid-th.fb-role .xforms-label,
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-grid .fr-grid-td.fb-role {
  text-align: left;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-grid .checkbox > span {
  display: none;
}
