.orbeon .xbl-fr-section {
  display: block;
  background-color: white;
}
.orbeon .xbl-fr-section .fr-section-title .xforms-help {
  float: left;
  margin-top: 11px;
  margin-right: 5px;
  display: inline-block;
  max-width: 20px;
  max-height: 14px;
  background-image: url("../../../../resources/apps/fr/style/bootstrap/img/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -120px -96px;
}
.orbeon .xbl-fr-section .fr-section-open-close img {
  margin-right: 0;
}
.orbeon .xbl-fr-section .fr-section-open-close {
  padding: 0 7px 0 7px;
}
.orbeon .xbl-fr-section .fr-section-content {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.orbeon .xbl-fr-section.xforms-section-appearance-minimal .fr-repeat-iteration {
  display: table-row;
}
.orbeon .xbl-fr-section.xforms-section-appearance-minimal .fr-repeat-iteration > .fr-repeat-content {
  padding-left: 0;
  display: table-cell;
}
.orbeon .xbl-fr-section.xforms-section-appearance-minimal .fr-repeat-iteration > .fr-section-right-column {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 10px;
}
.orbeon .xbl-fr-section .fr-section-title .fr-section-label {
  display: inline-table;
  padding-left: 10px;
  font-size: 18px;
  vertical-align: top;
}
.orbeon .xbl-fr-section .fr-section-title .fr-section-label a,
.orbeon .xbl-fr-section .fr-section-title .fr-section-label .xforms-output-output {
  display: table-cell;
  min-height: 36px;
}
.orbeon .xbl-fr-section .fr-section-title .fr-section-label a {
  text-decoration: none;
  color: #555555;
}
.orbeon .xbl-fr-section .fr-section-title .fr-section-label label {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 0;
}
.orbeon .xbl-fr-section .fr-section-title .fr-section-label.fr-section-open,
.orbeon .xbl-fr-section .fr-section-title .fr-section-label.fr-section-closed {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 5px 15px;
  cursor: pointer;
  border-collapse: separate;
}
.orbeon .xbl-fr-section .fr-section-title .fr-section-label.fr-section-open {
  background-image: url(arrow-down.png);
}
.orbeon .xbl-fr-section .fr-section-title .fr-section-label.fr-section-closed {
  background-image: url(arrow-right.png);
}
.orbeon .xbl-fr-section .fr-mode-view .fr-section-title img,
.orbeon .xbl-fr-section .fr-mode-pdf .fr-section-title img,
.orbeon .xbl-fr-section .fr-mode-email .fr-section-title img {
  display: none;
}
.orbeon .xforms-noscript .xbl-fr-section .fr-section-title .fr-section-label button.btn-link {
  color: #555555;
  font-size: inherit;
}
.orbeon .xforms-noscript .xbl-fr-section .fr-section-title .fr-section-label .xforms-help {
  display: inline;
}
.orbeon .xforms-noscript .xbl-fr-section .fr-section-title .fr-section-label .xforms-help-anchor {
  display: none;
}
@media print {
  .orbeon .xbl-fr-section .fr-section-title {
    background: none;
  }
  .orbeon .xbl-fr-section .fr-section-title .fr-section-label.fr-section-open,
  .orbeon .xbl-fr-section .fr-section-title .fr-section-label.fr-section-closed {
    padding-left: 0;
    background-image: none;
  }
  .orbeon .xbl-fr-section .fr-section-title .fr-section-label.fr-section-open a,
  .orbeon .xbl-fr-section .fr-section-title .fr-section-label.fr-section-closed a {
    color: black;
  }
  .orbeon .xbl-fr-section .fr-section-content {
    padding-left: 0;
    padding-right: 0;
    page-break-before: avoid;
  }
  .orbeon #xforms-form .fr-section-title .xforms-help {
    display: none;
  }
}
