// MIT license
// https://github.com/FriendlyCaptcha/friendly-challenge/blob/master/LICENSE.md

// Put this at top-level so that rest of CSS rules provided by Friendly Captcha apply. This is so we can just override
// a few of these rules. The reason we override them is because if we use Friendly Captcha's `.frc-captcha` class, it
// has the side effect of causing the captcha to reload automatically, which we don't want. This might be a bug in
// Friendly Captcha.
.xbl-fr-friendly-captcha-div {
    font-size: var(--orbeon-friendly-captcha-font-size);

    * {
        margin: 0;
        padding: 0;
        border: 0;
        text-align: initial;
        border-radius: 0;
        filter: none !important;
        transition: none !important;
        font-weight: 400;
        line-height: 1.2;
        text-decoration: none;
        background-color: initial;
        color: var(--orbeon-base-color);
    }

    position: relative;
    min-width: 250px;
    max-width: 312px;
    border: 1px solid var(--orbeon-base-border-color);
    padding-bottom: 12px;
    background-color: var(--orbeon-base-background-color);

    b {
        font-weight: 700
    }

    @media screen {
        .fr-color-scheme-dark & {
            .dark-color-scheme()
        }
    }

    // System-preference dark mode (screen only)
    @media screen and (prefers-color-scheme: dark) {
        .fr-color-scheme-system & {
            .dark-color-scheme()
        }
    }

    .dark-color-scheme() {
        svg {
            filter: invert(1) !important;
        }

        .frc-banner * {
            opacity: 1;
        }
    }
}
