<!--
    Copyright (C) 2006-2007 Orbeon, Inc.
  
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
  
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
  
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" xmlns="http://jakarta.apache.org/log4j/">

    <!-- This is the standard log appender to the console (System.out) -->
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c{1} %x - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
        </filter>
    </appender>

    <!-- Chainsaw is a graphical appender-->
    <appender name="ChainsawAppender" class="org.apache.log4j.net.SocketAppender">
        <param name="RemoteHost" value="localhost"/>
        <param name="Port" value="4445"/>
        <param name="LocationInfo" value="true"/>
    </appender>
    
    <!-- This is the Orbeon Forms Studio monitor -->
    <appender name="OPSMonitor" class="org.apache.log4j.net.SocketHubAppender">
        <param name="Port" value="4446"/>
        <param name="LocationInfo" value="true"/>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
        </filter>
    </appender>

    <!-- Logging to a single file, typically used in development when you don't want
         to be dealing with multiple files generated by the RollingFileAppender.
         See: http://logging.apache.org/log4j/docs/api/org/apache/log4j/FileAppender.html -->
    <appender name="SingleFileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="../logs/orbeon.log"/>
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c{1} %x - %m%n"/>
        </layout>
    </appender>

    <!-- Logging to a rolling files. Every time the file exceeds a certain size, a backup
         is created and the file used for logging is truncated.
         See: http://logging.apache.org/log4j/docs/api/org/apache/log4j/RollingFileAppender.html -->
    <appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="../logs/orbeon.log"/>
        <param name="MaxFileSize" value="5MB"/>
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c{1} %x - %m%n"/>
        </layout>
    </appender>

    <!--<category name="org.orbeon.oxf.xforms.processor.XFormsServer">-->
        <!--<priority value="debug"/>-->
    <!--</category>-->

    <!--<category name="org.orbeon.oxf.xforms.XFormsInstance">-->
        <!--<priority value="debug"/>-->
    <!--</category>-->

    <!--<category name="org.orbeon.oxf.xforms.processor.XFormsModelSubmission">-->
        <!--<priority value="debug"/>-->
    <!--</category>-->

    <!-- To enable logging for any of the sub-systems below, copy that section outside of the
         comment block. The XFormsServer is the one you are most likely to be interested in. -->
    <!--
    <category name="org.orbeon.oxf.processor.xmldb.XMLDBProcessor">
        <priority value="debug"/>
    </category>

    <category name="org.orbeon.oxf.processor.sql.SQLProcessor">
        <priority value="debug"/>
    </category>

    <category name="org.orbeon.oxf.processor.PageFlowControllerProcessor">
        <priority value="debug"/>
    </category>

    <category name="org.orbeon.oxf.processor.generator.RequestGenerator">
        <priority value="debug"/>
    </category>

    <category name="org.orbeon.oxf.webapp.OPSSessionListener">
        <priority value="info"/>
    </category>

    <category name="org.orbeon.oxf.webapp.OPSServletContextListener">
        <priority value="info"/>
    </category>
    -->

    <!-- Prevent extra display of eXist paging activity -->
    <category name="org.exist.storage.btree.Paged">
        <priority value="warn"/>
    </category>

    <category name="org.exist.storage.DBBroker">
        <priority value="warn"/>
    </category>

    <category name="org.exist.storage.BrokerPool">
        <priority value="warn"/>
    </category>

    <!-- You decide here which one of the loggers listed above you want to use. -->
    <root>
        <priority value="info"/>
        <!--<appender-ref ref="ConsoleAppender"/>-->
        <!--<appender-ref ref="ChainsawAppender"/>-->
        <appender-ref ref="SingleFileAppender"/>
        <!--<appender-ref ref="RollingFileAppender"/>-->
        <!--<appender-ref ref="OPSMonitor"/>-->
    </root>

</log4j:configuration>
