body, p, li, table {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13px;
}

body {
    background: #F2F2F2;
}

.main {
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding: 15px;
    background-color: white;
    border: 1px solid #666699;
}

.copyright {
    text-align: center;
    clear: both;
    font-size: 11px;
    color: #444444;
    padding-top: 10px
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 120%;
    color: black;
    text-align: center;
}

.dtd {
    background-color: white;
}

.dth {
    color: #000000;
    font-weight: bold;
    background-color: #e2e2e2;
    height: 1.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.gen {
    font-size: 13px;
}

.bodytd {
    background-color: white;
    border: 1px #98AAB1 solid;
}
