.xbl-fr-simple-captcha div {
    background-color: #930900;                              /* Dark color, inspired from reCAPTCHA */
    display: inline-block;                                  /* So the background only covers the needed area, horizontally */
    *display: inline; zoom: 1;
    padding: 5px;                                           /* Dark color border */
    border-radius: 4px;
}
.xbl-fr-simple-captcha img {
    display: block;
    border-radius: 4px;
}
.xbl-fr-simple-captcha .xforms-input {
    display: block;                                         /* Input shows below image */
    background: #FFDC73 url('arrow.png') no-repeat 5px 0;
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
}
.xbl-fr-simple-captcha .xforms-input label {
    font-size: 8pt;
    padding-bottom: 5px;
    font-style: normal;                                     /* Override possible italic in FR */
}

.xbl-fr-simple-captcha .xforms-input input {
    border: 1px solid #CCA940;
}
.xbl-fr-simple-captcha .xforms-input label,
.xbl-fr-simple-captcha .xforms-input input {
    display: block;
    margin-left: 17px;
}