.orbeon .xforms-dialog.fb-permissions-dialog {
  width: 450px;
}
.orbeon .xforms-dialog.fb-permissions-dialog .xforms-select-appearance-full label {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 0;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-repeat {
  margin-top: 1em;
  width: 100%;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-repeat .fb-role {
  width: 100%;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-repeat .xforms-input input {
  width: 100%;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-repeat th {
  font-weight: bold;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-repeat th,
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-repeat td {
  padding-right: 10px;
  height: 28px;
}
.orbeon .xforms-dialog.fb-permissions-dialog .fb-permissions-repeat i.disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
