.orbeon .xbl-fr-wpaint {
  position: relative;
}
.orbeon .xbl-fr-wpaint .fr-wpaint-container-a {
  max-width: 100%;
}
.orbeon .xbl-fr-wpaint .fr-wpaint-container-b {
  width: 100%;
  position: relative;
}
.orbeon .xbl-fr-wpaint .fr-wpaint-container-c {
  position: absolute;
  top: 0;
  max-width: 100%;
  max-height: 100%;
}
.orbeon .xbl-fr-wpaint .fr-wpaint-container-c canvas {
  max-width: 100%;
  max-height: 100%;
}
.orbeon .xbl-fr-wpaint .fr-wpaint-image {
  visibility: hidden;
  position: absolute;
}
.orbeon .xbl-fr-wpaint .xforms-output.fr-wpaint-annotation {
  display: none;
}
.orbeon .xbl-fr-wpaint .xforms-upload-info {
  background: none;
  padding: 0;
}
.orbeon .xbl-fr-wpaint .xforms-upload-info .xforms-upload-remove {
  padding: 0;
}
.orbeon .xbl-fr-wpaint .xforms-upload-info .xforms-upload-filename,
.orbeon .xbl-fr-wpaint .xforms-upload-info .xforms-upload-mediatype,
.orbeon .xbl-fr-wpaint .xforms-upload-info .xforms-upload-size {
  display: none;
}
.orbeon .xbl-fr-wpaint.xforms-readonly .fr-wpaint-annotation {
  display: inline;
}
.orbeon .xbl-fr-wpaint.xforms-readonly .fr-wpaint-no-canvas,
.orbeon .xbl-fr-wpaint.xforms-readonly .fr-wpaint-container-a,
.orbeon .xbl-fr-wpaint.xforms-readonly .xforms-upload {
  display: none;
}
