.xbl-fr-wpaint {
  position: relative;
}
.xbl-fr-wpaint .fr-wpaint-container {
  position: relative;
  max-width: 100%;
}
.xbl-fr-wpaint .fr-wpaint-container canvas {
  max-width: 100%;
}
.xbl-fr-wpaint .fr-wpaint-image {
  position: absolute;
  visibility: hidden;
}
