.orbeon .xbl-fr-grid {
  margin-bottom: 10px;
}
.orbeon .xbl-fr-grid.xforms-grid-appearance-minimal .fr-grid-bottom-buttons {
  display: block;
  margin-top: 10px;
}
.orbeon .xbl-fr-grid.xforms-grid-appearance-minimal .fr-grid-bottom-buttons .xforms-trigger {
  margin-right: 1em;
}
.orbeon .xbl-fr-grid .fr-grid {
  table-layout: fixed;
  width: 100%;
}
.orbeon .xbl-fr-grid .fr-grid tr {
  page-break-inside: auto;
}
.orbeon .xbl-fr-grid .fr-grid thead tr th {
  text-align: left;
}
.orbeon .xbl-fr-grid .fr-grid thead tr th legend.xforms-label {
  border-bottom: none;
  margin: 0;
}
.orbeon .xbl-fr-grid .fr-grid tbody tr td {
  vertical-align: top;
  width: auto;
}
.orbeon .xbl-fr-grid .fr-grid:not(.fr-repeat) tbody tr {
  height: 1px;
}
.orbeon .xbl-fr-grid .fr-grid:not(.fr-repeat) tbody tr:last-of-type {
  height: auto;
}
.orbeon .xbl-fr-grid .fr-grid .xforms-help {
  float: left;
  margin-top: 4px;
  margin-right: 3px;
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 14px;
  max-height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../../../../resources/apps/fr/style/bootstrap/img/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -120px -96px;
}
.orbeon .xbl-fr-grid .fr-grid .xforms-label {
  margin-top: 2px;
  margin-bottom: 4px;
  overflow: hidden;
  display: table;
}
.orbeon .xbl-fr-grid .fr-grid select,
.orbeon .xbl-fr-grid .fr-grid textarea,
.orbeon .xbl-fr-grid .fr-grid input[type="text"],
.orbeon .xbl-fr-grid .fr-grid input[type="password"],
.orbeon .xbl-fr-grid .fr-grid input[type="datetime"],
.orbeon .xbl-fr-grid .fr-grid input[type="datetime-local"],
.orbeon .xbl-fr-grid .fr-grid input[type="date"],
.orbeon .xbl-fr-grid .fr-grid input[type="month"],
.orbeon .xbl-fr-grid .fr-grid input[type="time"],
.orbeon .xbl-fr-grid .fr-grid input[type="week"],
.orbeon .xbl-fr-grid .fr-grid input[type="number"],
.orbeon .xbl-fr-grid .fr-grid input[type="email"],
.orbeon .xbl-fr-grid .fr-grid input[type="url"],
.orbeon .xbl-fr-grid .fr-grid input[type="search"],
.orbeon .xbl-fr-grid .fr-grid input[type="tel"],
.orbeon .xbl-fr-grid .fr-grid input[type="color"],
.orbeon .xbl-fr-grid .fr-grid .uneditable-input {
  width: 100%;
}
.orbeon .xbl-fr-grid .fr-grid .xforms-textarea textarea {
  width: 100%;
}
.orbeon .xbl-fr-grid .fr-grid textarea[rows] {
  height: auto;
}
.orbeon .xbl-fr-grid .fr-grid input[type="file"] {
  width: auto;
}
.orbeon .xbl-fr-grid .fr-grid .xbl-fr-inplace-input {
  width: 100%;
}
.orbeon .xbl-fr-grid .fr-grid .xbl-fr-inplace-input input {
  width: 100%;
}
.orbeon .xbl-fr-grid .fr-grid .xforms-mediatype-text-html textarea {
  height: 10.1em;
}
.orbeon .xbl-fr-grid .fr-grid .xforms-input input.xforms-type-date,
.orbeon .xbl-fr-grid .fr-grid .xforms-input input.xforms-type-time {
  width: 7.5em;
}
.orbeon .xbl-fr-grid .fr-grid .xforms-type-boolean input {
  width: auto;
}
.orbeon .xbl-fr-grid .fr-grid .xforms-mediatype-image {
  width: 100%;
  overflow: auto;
  display: block;
}
.orbeon .xbl-fr-grid .fr-grid .xforms-mediatype-image img {
  display: block;
}
.orbeon .xbl-fr-grid .fr-grid .fr-grid-content .xforms-trigger button,
.orbeon .xbl-fr-grid .fr-grid .fr-grid-content .xforms-trigger input {
  margin-top: 1.72em;
}
.orbeon .xbl-fr-grid .fr-grid .fr-grid-content .xforms-trigger button,
.orbeon .xbl-fr-grid .fr-grid .fr-grid-content .yui-button .xforms-trigger input {
  margin-top: 0;
}
.orbeon .xbl-fr-grid .fr-grid .fr-grid-content {
  padding: 4px;
}
.orbeon .xbl-fr-grid .fr-repeat-table .fr-grid-content {
  padding-top: 0;
  padding-bottom: 0;
}
.orbeon .xbl-fr-grid .fr-repeat-table.fr-repeat-single-row td > .fr-grid-content > * > .xforms-label,
.orbeon .xbl-fr-grid .fr-repeat-table.fr-repeat-single-row td > .fb-hover > .fr-grid-content > * > .xforms-label,
.orbeon .xbl-fr-grid .fr-repeat-table.fr-repeat-single-row td > .fr-grid-content > * > .xforms-help,
.orbeon .xbl-fr-grid .fr-repeat-table.fr-repeat-single-row td > .fb-hover > .fr-grid-content > * > .xforms-help,
.orbeon .xbl-fr-grid .fr-repeat-table.fr-repeat-single-row td > .fr-grid-content > * > .xforms-hint,
.orbeon .xbl-fr-grid .fr-repeat-table.fr-repeat-single-row td > .fb-hover > .fr-grid-content > * > .xforms-hint {
  display: none;
}
.orbeon .xbl-fr-grid .fr-repeat-table.fr-repeat-single-row th span.xforms-group {
  display: block;
}
.orbeon .xbl-fr-grid .fr-repeat-table tr th .xforms-label {
  display: block;
}
.orbeon .xbl-fr-grid .fr-repeat-table tr th .xforms-help {
  margin-top: 4px;
}
.orbeon .xbl-fr-grid .fr-repeat-table .fr-repeat-column-left,
.orbeon .xbl-fr-grid .fr-repeat-table .fr-repeat-column-right {
  width: 35px;
  text-align: left;
}
.orbeon .xbl-fr-grid .fr-repeat-table .fr-repeat-column-left i,
.orbeon .xbl-fr-grid .fr-repeat-table .fr-repeat-column-right i {
  display: block;
  margin: auto;
}
.orbeon .xbl-fr-grid .fr-repeat-table .fr-repeat-column-left button,
.orbeon .xbl-fr-grid .fr-repeat-table .fr-repeat-column-right button {
  display: block;
  margin: auto;
}
.orbeon .xbl-fr-grid .fr-repeat-table .fr-repeat-column-left .dropdown-menu i,
.orbeon .xbl-fr-grid .fr-repeat-table .fr-repeat-column-right .dropdown-menu i {
  display: inline-block;
  margin-right: 5px;
}
.orbeon .xbl-fr-grid .fr-repeat-table .fr-grid-master-row .fr-repeat-column-left,
.orbeon .xbl-fr-grid .fr-repeat-table .fr-grid-master-row .fr-repeat-column-right {
  vertical-align: middle;
}
.orbeon .xbl-fr-grid .fr-repeat-table .fr-grid-master-row .xforms-label {
  margin: 0 4px;
}
.orbeon .xbl-fr-grid .fr-repeat-table .fr-grid-master-row .xforms-hint {
  margin-left: 4px;
}
.orbeon .xbl-fr-grid .fr-repeat-table .xforms-repeat-selected-item-1 .fr-repeat-column-left {
  background-color: #eeeeee;
}
.orbeon .xbl-fr-grid .fr-repeat-table .fr-repeat-column-left .dropdown {
  display: none;
}
.orbeon .xbl-fr-grid .fr-repeat-table .can-remove .dropdown,
.orbeon .xbl-fr-grid .fr-repeat-table .can-move-up .dropdown,
.orbeon .xbl-fr-grid .fr-repeat-table .can-move-down .dropdown,
.orbeon .xbl-fr-grid .fr-repeat-table .can-insert-above .dropdown,
.orbeon .xbl-fr-grid .fr-repeat-table .can-insert-below .dropdown {
  display: block;
}
.orbeon .fr-mode-view .fr-grid-content {
  margin-bottom: 1em;
}
.orbeon .fr-mode-view .fr-repeat .fr-grid-content {
  background-color: transparent;
  margin-bottom: 0;
}
