@import (reference) "../../../../../../../../bootstrap-src/less/variables";

.xbl-fr-fields-date {

    .fr-component-group {
        display: inline-block;
        img { vertical-align: middle; }
        .xforms-input {

            // All the inputs on the same line
            display: inline-block;

            // By default, don't show labels, but don't hide to screen readers
            // Particularly strong rule for Form Builder, to override its `display: table`
            &.xforms-control .xforms-label,
            .fb-main .fb &.xforms-control .xforms-label {
                overflow : hidden;
                display  : block;
                height   : 0;
                width    : 0;
                margin   : 0;
            }
        }
        .xbl-fr-date {
            input { display: none ; }
            display: inline-block;
            vertical-align: middle;
            .add-on {
                // Rounded corners on all sides, not just right side
                border-radius: 4px 4px 4px 4px;
                // Center calendar icon
                padding: 3px 6px 5px 6px;
            }
        }
    }

    // For use outside of Form Runner
    .fr-width-2digits .xforms-input-input { width: 29px }
    .fr-width-4digits .xforms-input-input { width: 43px }

    // BS5 [CHECK]
    .fr-width-2digits .xforms-input-input {
        width: 29px;
        padding-left: 5px;
    }
    // BS5 [CHECK]
    .fr-width-4digits .xforms-input-input {
        width: 55px;
        padding-left: 6px;
     }
}