.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.orbeon {
  background-color: #f3f3f3 !important;
}
.orbeon ul.thumbnails li {
  margin: 0 0 18px 18px;
  background-color: white;
  font-family: "ff-meta-serif-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  padding: 0;
}
.orbeon ul.thumbnails li.span4,
.orbeon ul.thumbnails li.span8 {
  height: 412px;
}
.orbeon ul.thumbnails li.span4,
.orbeon ul.thumbnails li.span8 {
  box-sizing: border-box;
}
.orbeon ul.thumbnails li.span4 {
  width: 302px;
}
.orbeon ul.thumbnails li.span8 {
  width: 622px;
}
.orbeon ul.thumbnails li a {
  text-decoration: none;
}
.orbeon ul.thumbnails li a img {
  height: 230px;
}
.orbeon ul.thumbnails li a h2 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #444;
  margin: 0;
  padding-top: 24px;
}
.orbeon ul.thumbnails li h2,
.orbeon ul.thumbnails li p {
  padding-left: 30px;
  padding-right: 30px;
}
.orbeon ul.thumbnails li p {
  padding-top: 6px;
  font-size: 15px;
  line-height: 21px;
  color: #666;
}
.orbeon ul.thumbnails li.span12 {
  padding: 4px 0 0 0;
}
