.orbeon .xbl-fr-wizard {
  width: 940px;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc,
.orbeon .xbl-fr-wizard .fr-wizard-body {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc {
  width: 199px;
  left: -738px;
  margin-bottom: 0;
  overflow: hidden;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav {
  margin-bottom: 15px;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav a {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav .invalid > span > a {
  color: #b94a48;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav .invalid.active > span > a {
  color: #ffffff;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav li {
  line-height: 30px;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav ul ul {
  list-style-type: none;
}
.orbeon .xbl-fr-wizard .fr-wizard-body {
  width: 738px;
  left: 199px;
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.orbeon .xbl-fr-wizard .fr-wizard-navigation .pagination {
  margin: 10px 0;
}
.orbeon .xbl-fr-wizard .fr-wizard-navigation .pagination .fr-page-number {
  width: 60px;
}
.orbeon .xbl-fr-wizard .fr-buttons {
  display: block;
  float: right;
  box-sizing: border-box;
  width: 738px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 9px;
  padding-left: 9px;
  text-align: right;
  margin-bottom: 0 !important;
}
.orbeon .xbl-fr-wizard .fr-buttons > * {
  display: inline-block;
  margin-bottom: 5px;
}
