.orbeon .xbl-fr-wizard {
  width: 940px;
  display: table;
  table-layout: fixed;
  direction: rtl;
}
.orbeon .xbl-fr-wizard .fr-wizard-body,
.orbeon .xbl-fr-wizard .fr-wizard-toc {
  display: table-cell;
}
.orbeon .xbl-fr-wizard .fr-wizard-other {
  display: table-row;
}
.orbeon .xbl-fr-wizard .fr-wizard-body,
.orbeon .xbl-fr-wizard .fr-wizard-toc,
.orbeon .xbl-fr-wizard .fr-wizard-other {
  direction: ltr;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc,
.orbeon .xbl-fr-wizard .fr-wizard-body {
  vertical-align: top;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc {
  width: 199px;
  margin-bottom: 0;
  border-bottom: 1px solid #e3e3e3;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav {
  margin-bottom: 15px;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav a {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav .invalid > span > a {
  color: #b94a48;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav .active.invalid > span > a {
  color: #ffffff;
  background-color: #b94a48;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav .invalid.active > span > a {
  color: #ffffff;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav li {
  line-height: 30px;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav ul ul {
  list-style-type: none;
}
.orbeon .xbl-fr-wizard .fr-wizard-body {
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background-color: white;
}
.orbeon .xbl-fr-wizard .fr-wizard-navigation .pagination {
  margin: 10px 0;
}
.orbeon .xbl-fr-wizard .fr-wizard-navigation .pagination .fr-page-number {
  width: 60px;
}
.orbeon .xbl-fr-wizard .fr-buttons {
  display: table-cell;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 9px;
  padding-left: 9px;
  text-align: right;
}
@media (max-width: 980px) {
  .orbeon .xbl-fr-wizard {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    direction: ltr;
    width: 100%;
  }
  .orbeon .xbl-fr-wizard .fr-wizard-body,
  .orbeon .xbl-fr-wizard .fr-wizard-toc,
  .orbeon .xbl-fr-wizard .fr-wizard-other {
    display: block;
    position: static;
    width: 100%;
  }
  .orbeon .xbl-fr-wizard .fr-wizard-toc {
    order: 1;
    -webkit-order: 1;
    border: none;
  }
  .orbeon .xbl-fr-wizard .fr-wizard-body {
    order: 2;
    -webkit-order: 2;
    border: none;
  }
  .orbeon .xbl-fr-wizard .fr-wizard-other {
    order: 3;
    -webkit-order: 3;
  }
  .orbeon .xbl-fr-wizard .fr-buttons {
    display: block;
  }
}
