.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fr-border {
  padding: 0;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.help-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(bootstrap/img/glyphicons-halflings.png);
  background-repeat: no-repeat;
  background-position: -120px -96px;
}
.fr-plain-checkbox-container {
  width: 1px;
}
.fr-plain-checkbox-container label {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.fr-plain-checkbox-container label input[type="checkbox"] {
  float: none;
  margin: 0;
}
.fr-plain-checkbox-container label .label {
  vertical-align: middle;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc {
  width: 199px;
  float: left;
  margin-bottom: 0;
  overflow: hidden;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav {
  margin-bottom: 15px;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav a {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav .invalid > span > a {
  color: #b94a48;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav .invalid.active > span > a {
  color: #ffffff;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav li {
  line-height: 30px;
  *height: 100%;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav ul ul {
  list-style-type: none;
}
.orbeon .xbl-fr-wizard .fr-wizard-body {
  width: 738px;
  float: right;
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.orbeon .xbl-fr-wizard .fr-wizard-navigation .pagination {
  margin: 10px 0;
}
.orbeon .xbl-fr-wizard .fr-wizard-navigation .pagination .fr-page-number {
  width: 60px;
}
.orbeon .xbl-fr-wizard .fr-buttons {
  display: block;
  float: right;
  box-sizing: border-box;
  width: 738px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 9px;
  padding-left: 9px;
  text-align: right;
  margin-bottom: 0 !important;
}
.orbeon .xbl-fr-wizard .fr-buttons > * {
  display: inline-block;
  margin-bottom: 5px;
}
