.xbl-fr-datetime {
    .fr-datetime-fields {

        display: flex;

        .xbl-fr-date, .xbl-fr-time {
            flex-grow: 1;
        }

        &.fr-field-width-full {
            .xbl-fr-date, .xbl-fr-time {
                // Override natural on date/time components
                .fr-field-width-natural { max-width: none }
                // Labels for date and time fields are for accessibility
                .xforms-label {
                    overflow : hidden;
                    display  : block;
                    height   : 0;
                    width    : 0;
                    margin   : 0;
                }
            }
        }
        & .input-group {
            max-width: 140px;
        }

        .xbl-fr-date { padding-right : 2px }
        .xbl-fr-time { padding-left  : 2px }

        #fr-view-component≡date-time-controls-section≡grid-4-grid≡datetime-control≡date≡input {
            border-radius: 4px 0 0 4px !important;
        }
    }
}