.orbeon .xbl-fr-checkbox-input {
    .xforms-select-appearance-full {
        display: inline-block;

        // Hide label, which is just there for the error summary
        &.xforms-select.xforms-control.xforms-type-boolean .xforms-label {
            display: none
        }

        .xforms-items {
            vertical-align: middle;
            display: inline-block;
            float: none;
            .checkbox { margin: 0; }
        }
    }
}