.orbeon .xbl-fr-error-summary {
  clear: both;
  width: 100%;
  padding: 0;
}
.orbeon .xbl-fr-error-summary .fr-error-summary-body {
  display: block;
  padding: 0 10px;
  padding: 0;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
.orbeon .xbl-fr-error-summary .fr-error-title {
  display: block;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  color: white;
}
.orbeon .xbl-fr-error-summary .fr-error-group {
  margin: 5px 0;
}
.orbeon .xbl-fr-error-summary .fr-error-group > li {
  border: 2px solid #b94a48;
  padding: 5px;
  margin-bottom: 5px;
  list-style-position: inside;
}
.orbeon .xbl-fr-error-summary .fr-error-group .fr-error-number,
.orbeon .xbl-fr-error-summary .fr-error-group .fr-error-link,
.orbeon .xbl-fr-error-summary .fr-error-group .fr-error-alert {
  padding: 2px 5px;
  vertical-align: top;
}
.orbeon .xbl-fr-error-summary .fr-error-group .fr-error-number {
  text-align: right;
  display: none;
}
.orbeon .xbl-fr-error-summary .fr-error-group .fr-error-number .xforms-output-output:after {
  content: ":";
}
.orbeon .xbl-fr-error-summary .fr-error-group .fr-error-link {
  display: block;
}
.orbeon .xbl-fr-error-summary .fr-error-group .fr-error-alert {
  display: block;
}
.orbeon .xbl-fr-error-summary .fr-error-group .fr-error-alert .xforms-output-output {
  display: inline-block;
  vertical-align: top;
}
.orbeon .xbl-fr-error-summary .fr-error-group .fr-error-alert .xforms-output-output ul {
  list-style-type: square;
  margin-bottom: 0;
}
.orbeon .xbl-fr-error-summary .fr-level-info .fr-error-title {
  background-color: #333333;
}
.orbeon .xbl-fr-error-summary .fr-level-warning .fr-error-title {
  background-color: #fbb450;
}
.orbeon .xbl-fr-error-summary .fr-level-error .fr-error-title {
  background-color: #b94a48;
}
.orbeon .xbl-fr-error-summary .fr-error-alert-error {
  color: #b94a48;
}
.orbeon .xbl-fr-error-summary .fr-error-alert-warning {
  color: #fbb450;
}
.orbeon .xbl-fr-error-summary .fr-error-alert-info {
  color: #333333;
}
