dl.fr-accordion-lnf {
    margin: 0; padding: 0;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
dl.fr-accordion-lnf dt.a-m-t {
    margin: 0;
	padding: 0.3em 1em;
    background: transparent url(../../../ops/yui/assets/skins/sam/sprite.png) repeat-x scroll 0 -1500px;
    color: #333333;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

dl.fr-accordion-lnf dt.a-m-t-hover { background-position: 0 -1300px }
html.accordion-menu-js dt.a-m-t-expand {}

dl.fr-accordion-lnf dd.a-m-d .bd {
	border: solid 1px gray;
    border-top-width: 0;
    border-left-color: #CCCCCC;
    padding: .5em 1em .5em 1em;
}

dl.fr-accordion-lnf dt.a-m-t { border-right: none; border-left: none }
dl.fr-accordion-lnf dd.a-m-d .bd { border-right: none; border-left: none }

html.fr-accordion-lnf-js dt.a-m-t{
	cursor: pointer;
	zoom: 1;
}

dl.fr-accordion-lnf dd.a-m-d { margin: 0; padding: 0 }
html.accordion-menu-js dd.a-m-d { display: none }
html.accordion-menu-js dd.a-m-d-expand { display: block }

html.accordion-menu-js dd.a-m-d-before-expand {
	display: block;
	position: relative;
	z-index: -1;
	opacity: 0;
	height: auto !important;
	visibility: hidden;
	overflow: visible;
}

html.accordion-menu-js dd.a-m-d-anim {
	overflow: hidden;
	display: block;
}
