.orbeon .xbl-fr-character-counter > div {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-flow: row;
}
.orbeon .xbl-fr-character-counter > div > .fr-charcounter-count {
  display: block;
  text-align: right;
  margin-left: 4px;
  margin-bottom: 3px;
}
.orbeon .xbl-fr-character-counter > div > .fr-charcounter-count .xforms-output {
  display: inline-block;
  min-width: 28px;
  box-sizing: border-box;
}
.orbeon .xbl-fr-character-counter > div > .fr-charcounter-count .fr-charcounter-over .xforms-output-output:before {
  content: "-";
}
.orbeon .xbl-fr-character-counter > div > .xforms-input,
.orbeon .xbl-fr-character-counter > div > .xforms-textarea,
.orbeon .xbl-fr-character-counter > div > .xbl-fr-tinymce {
  width: 100%;
}
.orbeon .fr-mode-view .xbl-fr-character-counter > div > .fr-charcounter-count,
.orbeon .fr-mode-pdf .xbl-fr-character-counter > div > .fr-charcounter-count,
.orbeon .fr-mode-email .xbl-fr-character-counter > div > .fr-charcounter-count {
  display: none;
}
