.orbeon .xforms-open-select1-appearance-minimal .fr-component-group {
  width: 100%;
  display: table;
}
.orbeon .xforms-open-select1-appearance-minimal .fr-component-group .xforms-select1,
.orbeon .xforms-open-select1-appearance-minimal .fr-component-group .xforms-input {
  display: table-cell;
}
.orbeon .xforms-open-select1-appearance-minimal .fr-component-group .xforms-select1 {
  padding-right: 10px;
}
.orbeon .xforms-open-select1-appearance-minimal .fr-component-group .xforms-select1 select {
  width: auto;
}
.orbeon .xforms-open-select1-appearance-minimal .fr-component-group .xforms-input {
  width: 100%;
}
