.orbeon .fr-repeat .fr-repeater-add i {
  margin-left: 4px;
  margin-right: 5px;
}
.orbeon .fr-repeat .fr-repeat-iteration {
  border-bottom: 1px solid #ddddee;
}
.orbeon .fr-repeat .fr-repeat-menu {
  width: 22px;
  float: left;
  padding: 9px 4px 0 0;
}
.orbeon .fr-repeat .fr-repeat-content {
  padding-left: 26px;
}
.orbeon .fr-repeat .fr-repeat-content > .xbl-fr-section > div > h2 > .fr-section-label {
  padding-left: 0;
  background-image: none;
}
.orbeon .fr-repeat .fr-repeat-content > .xbl-fr-section > div > div > .fr-section-content {
  padding-left: 0;
}
