@import "../../../../resources/apps/fr/style/form-runner-common";

.orbeon {
    .fr-repeat {

        .fr-repeat-iteration {
            border-bottom: 1px solid @frBorderColor;
        }

        .fr-repeat-menu {
            width: 20px;
            float:left;
            padding: 8px 4px;
        }

        .xforms-repeat-selected-item-1.fr-repeat-iteration {
            background-color: @grayLighter;
        }

        .fr-repeat-content {
            padding-left: 28px;
        }
    }
}