@import (reference)  "../../../apps/fr/style/form-runner-common";
.xbl-fr-date {
    .input-append.date {
        &.fr-field-width-natural {
            max-width: 142px;
        }
        .add-on {
            // Make things look good with icon
            padding: 3px 6px 5px 4px;
            i { margin-top: 0 }
            .focusHighlightGroup();
            &:focus {
                z-index: 3; // so the left box-shadow appears over the rest
            }
        }
    }

    // Disable cursor on datepicker icon when readonly
    &.xforms-readonly .input-append .add-on {
        cursor: not-allowed;
    }

    // Don't show the add-on when using the native widget
    input[type = "date"] + .add-on { display: none }

    // Override Bootstrap padding for text not to show too low on Safari desktop
    input[type = "date"] {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}