/* ************************************************** IE 6 hack for PNG ************************************************** */

/* IE 6 HACK: bind behavior from iepngfix.htc */
/*#fr-view .fr-top, #fr-view .fr-bottom,*/
        /*#fr-view button.xforms-trigger img,*/
        /*#fr-view a.xforms-trigger img,*/
        /*#fr-view .fr-logo img,*/
        /*#fr-view img.xforms-help-image,*/
        /*#fr-view .fr-status-icons img*/
/*{*/
    /* Absolute path is rewritten in combined resources mode */
    /* TODO: this must go through our CSS rewriter */
    /*behavior: url(/orbeon/ops/javascript/iepngfix.htc)*/
    /*;border: 10px solid red*/
/*}*/

/* ************************************************** Basic HTML settings ************************************************** */

/* NOTE: IE em factor: 0.9759 */

html { overflow: scroll }
body { background-color: #FFE27F }

body, body table, textarea.xforms-textarea {
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

#fr-view .fr-hidden { display: none }
.fr-clear { clear: both }

.fr-top { line-height: 10px; }
#doc .fr-top { background-image: url(top-750.png); }
#doc4 .fr-top { background-image: url(top-974.png); }
#doc-fb .fr-top { background-image: url(top-974.png); }

.fr-bottom { background-repeat: no-repeat; }
#doc .fr-bottom { background-image: url(bottom-750.png); }
#doc4 .fr-bottom { background-image: url(bottom-974.png); }
#doc-fb .fr-bottom { background-image: url(bottom-974.png); }

.fr-bottom .fr-orbeon-version {
    text-align: center;
    font-size: smaller;
    padding: 10px;
    color: #6E6E6E;
}

.fr-container {
    background-color: white;
    border: 1px solid #cccccc;
    width: 100%; /* For IE6: otherwise the container can be narrower than the containing doc */
}

.fr-separator {
    background-color: orange;
    line-height: .5em;
    clear: both;
}

.fr-body, .fr-buttons-block {
    padding: 1em
}

h1 { margin-top: 0 }

.fr-body .info h2 {
    font-size: 160%;
    font-family: inherit;
    color: #000000
}

.fr-body .info p {
    font-size: 95%;
    font-family: inherit;
    color: #444444
}

.fr-body .section h3 {
    font-size: 110%;
    font-family: inherit;
    background-color: #ffffff;
    color: #000000
}

.fr-body .section p {
    font-size: 85%;
    font-family: inherit;
    color: #444444
}

.fr-logo, .fr-buttons-block {
    background-color: #F8F8F8;
    background-image: url(logo-bg.gif);
    background-position: top;
    padding: 1em;
}

.fr-logo table { width: 100% }
.fr-logo table tr td { vertical-align: middle }
.fr-logo img { margin-right: 1em }
.fr-logo h1 { margin: 0; padding: 0; font-weight: normal; white-space: nowrap; color: #666699; text-align: right }

/* Enable noscript icon when in noscript mode */
.fr-noscript-icon { display: none }
.xforms-noscript .fr-noscript-icon { display: inline }

.fr-form-description {
    display: block;
    float: right;
    padding: .5em;
    max-width: 30em;/* not strong feelings about this one */
    font-size: smaller;
    font-style: italic;
    text-align: right;
    color: #6E6E6E;
}
.fr-form-description .fr-close { margin-left: .5em }

.fr-header { overflow: hidden; }
.fr-summary-language-choice, .fr-summary-noscript-choice { margin-right: 1em; margin-top: .2em; color: gray; font-size: 85%; text-align: right; }
.fr-summary-language-choice .xforms-trigger-appearance-xxforms-minimal, .fr-summary-noscript-choice .xforms-trigger-appearance-xxforms-minimal { *font-size: 100% }/* IE 6 HACK to fix the font size */
.fr-summary-language-choice a, .fr-summary-noscript-choice a { color: #6E6E6E }
.fr-summary-language-choice .xforms-label, .fr-summary-noscript-choice .xforms-label { display: inline; margin-right: .5em }
.fr-summary-repeat-column-number { text-align: right; width: 3em }

.xforms-help-image { vertical-align: -0.2em; display: inline; margin: 0 .5em 0 0; padding: 0;
    float: left; /* Without the "float: left" on FF2/3 the mouseover event arrive on the label, not the help
                    image at the left of the label. */
}

.xforms-label, h4  { font-weight: bold; text-align: left; }

.fr-grid-content .xforms-control {
    display: block;     /* So control is not displayed next to the help icon but on a new line */
    margin-top: 0.3em;  /* Insert some space between the label / help and the control */
    clear: both;
}

#fr-form-group {
    display: block;
    margin: .5em 1em 1em;
}

div.fr-body {
    /*margin: 10px 10px 0 10px;*/
    padding: 0;
}

.fr-section-body {
    display: block;
    overflow: hidden;
    margin: 0 1.5em 1em 1.7em;
    padding: 0 0 0 0;
}

/* Controls added just to expose instance nodes to JavaScript */
.fr-expose-to-javascript { display: none; }

/* Make sure disabled items take precendence over display: block on other classes */
#fr-view .xforms-disabled { display: none }
#fr-view .xforms-repeat-template { display: none; }
#fr-view label.xforms-alert-inactive { display: none; }
#fr-view .xforms-disabled .xforms-label { display: none }
#fr-view .xforms-case-deselected { display: none }
#fr-view .xforms-case-deselected .xforms-label { display: none }

/* Make sure text in trigger does not wrap (leads to non-native widget being used on Firefox) */
button.xforms-trigger, input.xforms-trigger { white-space: nowrap; }
button.xforms-trigger img { margin-right: 10px; }
/* Attempt to make the button look like a link */
.xforms-trigger-appearance-xxforms-minimal {
    color: #666699;
    display: -moz-inline-box; display: inline-block;
    text-decoration: underline;
    font-size: inherit;
    padding: 0;
    vertical-align: middle;
}

.fr-layout-table { padding: 0; margin: 0 }
.fr-layout-table tr td { width: auto; vertical-align: top }

h2 a, h3 a, h4 a {
    color: #666699;
    /*vertical-align: middle;*/ /* not sure why this was done, but it does not show right in Form Builder */
}

h2 {
    font-weight: normal;
    font-size: 160%;
    margin: .25em 0 .5em 0;/* try smaller margins */
    clear: left;
}

h3, h4 {
    font-weight: normal;
    font-size: 110%;
    line-height: 135%;
    margin: 1em 0 1em 0;
    padding: 0 0 0 0;
}

.xforms-repeat-selected-item-1 { background-color: transparent }
.xforms-repeat-selected-item-2 { background-color: transparent }
.xforms-repeat-selected-item-3 { background-color: transparent }
.xforms-repeat-selected-item-4 { background-color: transparent }

/*.fr-summary-table-div { overflow: auto }*/
/*.fr-summary-table td, .fr-summary-table th { white-space: nowrap }*/

.fr-summary-search .xforms-label {
    display: block;     /* So control is not displayed next to the help icon but on a new line */
    /*margin-top: 0.3em;  *//* Insert some space between the label / help and the control */
    /*clear: both;*/
}

.fr-summary-table tbody .xforms-repeat-selected-item-1 { background-image: url(logo-bg.gif) }
.fr-summary-table tbody .xforms-repeat-selected-item-2 { background-image: url(logo-bg.gif) }/* HACK for IE 7 only */
.fr-summary-table tbody tr:hover { background-image: url(logo-bg.gif) }

.fr-summary-table .xforms-label { display: none; }
.fr-summary-table, .fr-summary-table td, .fr-summary-table th { border: 1px solid #600 }
.fr-summary-table th { background-color: #f8f8f8 }
.fr-summary-table td, .fr-summary-table th { padding: 4px }

.fr-summary-table {
    margin: 1px 0 0 1px;
    border-collapse: collapse;
    width: 100%
}

.fr-summary-welcome-message { display: block; margin-top: .5em; margin-bottom: .5em; clear: both }
.fr-summary-search-count {  display: block; margin-top: 1em; margin-bottom: 1em }

.fr-paging-buttons { padding-top: .5em }
.fr-paging-buttons button { vertical-align: middle }
.fr-paging-numbers { vertical-align: middle; margin-left: .5em; margin-right: .5em }


hr {
    border: 1px solid #eee;
}

/* Make sure xforms-disabled takes precendence over display: block on other classes */
.fr-grid label.xforms-disabled, .fr-grid span.xforms-disabled, .fr-grid div.xforms-disabled  {
    display: none;
}

.fr-buttons {
    padding-right: 1em;
    float: right;
}

.fr-buttons .xforms-trigger {
    width: 13em; *width: 11em
}

/* Repeats: all */
.fr-repeat td { vertical-align: top; padding: 0.2em }
/* First column of the table with the number displayed */
.fr-repeat .fr-repeat-column { width: auto; }
.fr-repeat {
    background-color: #EEEEEE;
    /* Fix for Firefox in cases where the top and left borders of the table are not displayed */
    margin: 1px 0 0 1px;
}

/* Repeats: shows as sections (can have multiple lines per iteration; repeated field labels) */
.fr-repeat-sections th { display: none; }
.fr-repeat-sections .xforms-label { margin-top: 0; }
.fr-repeat-sections .xforms-control { display: block; } /* Otherwise control shows on same line as label in certain cases */

/* Repeats: shows as table (1 line per iteration; labels used as header of table) */
.fr-repeat-table {
    border-collapse: collapse;
    width: 100%
}
.fr-repeat-table td , .fr-repeat-table th { border: 1px solid #ddd; padding: .2em .5em .2em .5em; }
/* Styling for last dummy line added so IE displays the bottom border of the table */
.fr-repeat-table .fr-repeat-last-line td { border: none; padding: 0; }
.fr-repeat-table .fr-repeat-last-line { display: none }
.fr-repeat-table th { background-color: #ddd }
.fr-repeat-table td .xforms-label { display: none; }
.fr-repeat-table td .xforms-help-image { display: none; }
.fr-repeat-table td .xforms-help { display: none; }
.fr-repeat-table td .xforms-hint { display: none; }

.fr-repeat-table .fr-repeat-column-number { width: 1.5em; text-align: right }
.fr-repeat-table .fr-repeat-column-trigger { width: 1.5em; text-align: center }
.fr-grid .fr-grid-content .fr-repeat-table .fr-repeat-column-trigger .xforms-trigger { margin-top: 0 }/* because there is a margin set for triggers in grids below */

.fr-non-collapsible { padding-left: 1.1em; }

.fr-summary-search { display: block; margin-bottom: .5em }

.fr-search-input input {
    background-image: url(search.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

.fr-summary-search-item { float: left; margin-right: .5em }

/* Set controls background */
.xforms-input input, textarea.xforms-textarea, input.xforms-secret {
    background-image: url(field.png);
    background-repeat: repeat-x;
    border: 1px solid #CCCCCC;
}

/* But for boolean inputs, no background and border (for IE) */
.xforms-type-boolean input {
    background: none; border: none
}

td { border: 0 }
h1 { font-size: 197% }
i { font-style: italic }
a { color: #666699 }
th, td {border: 0; padding: 0 }

.fr-print-mode .fr-section-title img { display: none; }
.fr-print-mode .xforms-help-image { display: none; }

/* Not sure why the YUI resets this to center */
body { text-align: left }

/* Display alerts under each control */
.xforms-alert-active {
    display: block;
    font-size: smaller;
    font-weight: bold;
    margin-top: .2em;
    margin-left: 0;/* used to have margin here but with new colors no margin seems better */
    height: auto;
    width: auto;/*width: 100%;*/
    text-indent: 0;
    background-image: none;
    background-color: #DF731B;
    color: white;
    padding: 1px;
    border-radius: 3px; -moz-border-radius: 2px; -webkit-border-radius: 3px; -ms-border-radius: 2px /* radius appears differently w/ Safari 3.1 vs. Firefox 3.0b4*/
}

/* Display hints under each control */
.xforms-hint {
    display: block;
    font-size: smaller;
    margin-top: .2em;
    margin-left: 0;/* used to have margin here but with new colors no margin seems better */
    width: 100%;
    color: #6E6E6E;
    font-style: italic
}

/* Do this for collapsible sections so that YUI animations work */
div.fr-collapsible {
    overflow: hidden;
    margin-left: 22px;
    border-bottom: 1px dotted #666699;
}

/* Dialogs */
.fr-dialog { width: 400px; }
.fr-dialog ol { padding-left: 3em; }
.fr-dialog li { list-style-type: decimal; }/* overrides YUI reset so numbers in enumeration do show */
.fr-dialog .bd p { margin: .5em 0 .5em 0; }
.fr-dialog .hd { background-color: #666699 }
.fr-dialog .bd { margin: 0 .5em .5em .5em; }
/* Style for dialogs  */
.fr-dialog-icon { float: left; margin-right: 2em; margin-left: 1em; padding-bottom: 1em; }
.fr-dialog-message { margin-top: .5em; padding-top: 0.5em; }
.fr-dialog-buttons { text-align: right; padding-right: .5em; padding-top: .5em; padding-bottom: .5em; margin-top: .5em; border-top: 2px solid #DDDDEE }

/* Messages */
.fr-message-success { color: green  }
.fr-message-validation-error { color: orange }
.fr-message-fatal-error { color: #cc0000}
.fr-unsaved-data { color: #cc0000 }

/* Table of contents */
.fr-toc {
    /*float: right;*/
    color: #666699;
    /*border-bottom: 0.5em solid orange;*/
    /*border-left: 0.5em solid orange;*/
    padding: 0 1em 0 1em;
    /*max-width: 30em*/
}

/* Error summary */
.fr-error-summary {
    clear: both;
    width: 100%;
    padding: 0;
    display: block;
}

/*.fr-error-summary-top { border-bottom: .5em solid orange }*/
/*.fr-error-summary-bottom { border-top: .5em solid orange }*/

.fr-summary-body { display: block; padding: 10px }

.fr-error-title {
    display: block;
    font-size: smaller;
    font-weight: bold;
    /*margin-top: .2em;*/
    margin-left: 0;/* used to have margin here but with new colors no margin seems better */
    background-color: #DF731B;
    color: white;
    padding: .3em;
    border-radius: 3px; -moz-border-radius: 2px; -webkit-border-radius: 3px; -ms-border-radius: 2px /* radius appears differently w/ Safari 3.1 vs. Firefox 3.0b4*/
}
.fr-error-list li { margin-bottom: .5em; }
.fr-error-list label { display: none }
.fr-error-label { font-weight: bold }
.fr-error-row { font-weight: bold }
.fr-error-alert {}

/* Status */
.fr-status-icons { margin-bottom: .5em; float: left }
.fr-status-icons img { margin-right: .5em }

/* Radio buttons spacing */
/*.xforms-select1-appearance-full label { margin-left: .5em; margin-right: 1em }*/

/* Sections */
.fr-section-container { display: block; clear: both }
.fr-section-container p { margin-top: 1em; }
.fr-section-container img.fr-open-close { margin-right: .5em }

/* Radio buttons */
.xforms-select1-appearance-full span { display: block; clear: both; }
.xforms-select1-appearance-full span label { margin-left: .5em; margin-right: 1em }

.fr-grid .xforms-select1-appearance-full span input { float: left; }
.fr-grid .xforms-select1-appearance-full span label { float: left; margin-right: 0 }
/* Size of text for radio button; needs to be set for every page width / columns number combination */
#doc .fr-grid-2-columns .xforms-select1-appearance-full span label { width: 21em; *width: 20.5em }

#doc4 .fr-grid-1-columns .xforms-select1-appearance-full span label { width: 68em; *width: 66em }
#doc4 .fr-grid-2-columns .xforms-select1-appearance-full span label { width: 32em; *width: 31em  }
#doc4 .fr-grid-3-columns .xforms-select1-appearance-full span label { width: 20em; *width: 19em }
#doc4 .fr-grid-4-columns .xforms-select1-appearance-full span label { width: 14.5em; *width: 13.5em }

/* Checkboxes */
.xforms-select-appearance-full span { display: block; clear: both; }
.xforms-select-appearance-full span label { margin-left: .5em; margin-right: 1em }

.fr-grid .xforms-select-appearance-full span input { float: left; }
.fr-grid .xforms-select-appearance-full span label { float: left; margin-right: 0 }

/* Size of text for checkboxes; needs to be set for every page width / columns number combination */
#doc .fr-grid-1-columns .xforms-select-appearance-full span label { width: 50em; *width: 48.8em }
#doc .fr-grid-2-columns .xforms-select-appearance-full span label { width: 22.5em; *width: 21.9em }

#doc4 .fr-grid-1-columns .xforms-select-appearance-full span label { width: 68em; *width: 66em }
#doc4 .fr-grid-2-columns .xforms-select-appearance-full span label { width: 32.2em; *width: 31em }
#doc4 .fr-grid-3-columns .xforms-select-appearance-full span label { width: 20.2em; *width: 19em }
#doc4 .fr-grid-4-columns .xforms-select-appearance-full span label { width: 14.5em; *width: 13.5em }

/* ************************************************** Grid ************************************************** */

.fr-grid {
    width: 100%;
    border-collapse: separate;
    clear: both;
    margin: .5em 0 0 0; /* Adding space before grid, so grid is not right below title or previous grid */
}
.fr-grid tr th { text-align: left }
.fr-grid .fr-grid-content { *overflow: hidden }/* IE HACK so that scrollable images work in the table */

.fr-grid .fr-layout-table tr td { width: auto }

/* Cell content */
.fr-grid-content {
    padding: 0.5em;      /* Add some space arround control */
    *padding-right: 6px; /* To help IE move back controls within .fr-grid-content */
}
.fr-grid .fr-inplace-edit .xforms-input input { width: 100% }

.fb-edit-items { text-decoration: none; display: block; clear: both }

/* Styling comon to all HTML form controls */
.fr-grid .xforms-input input,
    .fr-grid .xforms-upload input,
    .fr-grid .xforms-textarea,
    .fr-grid .xforms-secret,
    .fr-grid .xforms-select1-appearance-minimal,
    .fr-grid .xforms-select1-appearance-compact,
    .fr-grid .xforms-select-appearance-compact {
    width: 100%;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* But for boolean inputs, don't size (for IE) */
.fr-grid .xforms-type-boolean input {
    width: auto;
}

.fr-grid .xforms-upload input { width: auto; } /* The upload field responds to 100% width on IE, which gives strange result */
.fr-grid .xforms-select1-appearance-compact, .fr-grid .xforms-select-appearance-compact { height: 6em; }

/* Image output */
.fr-grid .xforms-mediatype-image { width: 100%; overflow: auto; display: block }
.fr-grid .xforms-mediatype-image { *padding-bottom: 17px; *overflow-y: hidden }/* IE HACK */
.fr-grid .xforms-mediatype-image img { display: block }

/*  Buttons */
.fr-grid .fr-grid-content button.xforms-trigger, .fr-grid .fr-grid-content input.xforms-trigger { margin-top: 1.72em } /* hand-tuned so it appears at about the same pos as input fields*/

/* Cell widths */
.fr-grid-td { width: auto; vertical-align: top; overflow: hidden }
.fr-grid-td .fb-grid-content { width: 64em; *width: 62.4576em }

.fr-grid-2-columns .fr-grid-td { width: 50%; }
#doc .fr-grid-2-columns .fr-grid-td .fr-grid-content { width: 25em; *width: 24.4em }
#doc4 .fr-grid-2-columns .fr-grid-td .fr-grid-content { width: 34em; *width: 33.1806em }

.fr-grid-3-columns .fr-grid-td { width: 33.3%; }
#doc .fr-grid-3-columns .fr-grid-td .fr-grid-content { width: 16em; *width: 15.6em }
#doc4 .fr-grid-3-columns .fr-grid-td .fr-grid-content { width: 22em; *width: 21.4698em }

.fr-grid-4-columns .fr-grid-td { width: 25%; }
#doc .fr-grid-4-columns .fr-grid-td .fr-grid-content { width: 11.5em; *width: 11.2em }
#doc4 .fr-grid-4-columns .fr-grid-td .fr-grid-content { width: 16.5em; *width: 15.5em }

/* Hand-tuned control widths for IE <= 7 */
/* TODO: more controls */
#doc4 .fr-grid-td .fr-grid-content .xforms-textarea { *width: 98% }
#doc4 .fr-grid-2-columns .fr-grid-td .fr-grid-content .xforms-input-input { *width: 99.5% }
#doc4 .fr-grid-3-columns .fr-grid-td .fr-grid-content .xforms-input-input { *width: 98.7% }

/* Upload control information */
.xforms-upload-info { display: block; width: 100%; background-color: #FFFFDD; padding: 2px }
.xforms-upload-mediatype, xforms-upload-size { padding-left: 1em }
.xforms-upload-remove { vertical-align: top }

/* Test */
/*.xforms-required::before { content: "*"; color:red }*/

/* ************************************************** Other medias ************************************************** */

/* This is also used for PDF generation */
@media print {
    body { background-color: white }
    .fr-bottom { display: none }
    .fr-top { display: none }
    .fr-section-container img.fr-open-close { display: none }
    .fr-status-icons { display: none }
    noscript { display: none }
}
