.orbeon .row .alert,
.orbeon .row-fluid .alert {
  display: block;
  margin: 0;
}
.orbeon table .fr-summary,
.orbeon table .fr-new {
  text-align: center;
}
.orbeon table th {
  white-space: nowrap;
  min-width: 12px;
}
.orbeon table td {
  position: relative;
}
.orbeon table td a {
  width: 100%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  outline: 0;
}
.orbeon table td a:hover {
  text-decoration: none;
  color: black;
}
.orbeon table .fr-home-select {
  width: 1px;
}
.orbeon table .fr-home-select label {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.orbeon table .fr-home-select label input[type="checkbox"] {
  float: none;
  margin: 0;
}
.orbeon table .fr-home-select label .label {
  vertical-align: middle;
}
.orbeon table .fr-home-status {
  width: 1px;
}
.orbeon table .fr-home-modified {
  width: 1px;
  white-space: nowrap;
}
.orbeon table .label {
  display: inline-block;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.orbeon .fr-credentials-dialog .fr-dialog-credentials-fields {
  margin-left: 110px;
}
.orbeon .fr-credentials-dialog img {
  float: left;
  margin: 5px 10px 0 10px;
}
.orbeon .fr-credentials-dialog .fb-dialog-form-settings-fields {
  float: left;
  width: 110px;
}
.orbeon .fr-credentials-dialog .fb-dialog-form-settings-fields input,
.orbeon .fr-credentials-dialog .fb-dialog-form-settings-fields textarea {
  width: 100%;
}
