.orbeon {
  -webkit-text-size-adjust: 100%;
}
.orbeon .navbar .navbar-inner .container .fr-status-icons {
  display: block;
  float: right;
}
.orbeon .navbar .navbar-inner .container .fr-status-icons i {
  margin-left: 5px;
}
.orbeon .navbar .navbar-inner .container .badge {
  margin-left: 5px;
}
.orbeon .navbar .navbar-inner .container img {
  margin-right: 15px;
}
.orbeon .navbar .navbar-inner .container h1 {
  margin-left: 0;
}
.orbeon .fr-body {
  display: block;
}
.orbeon .fr-body h2 {
  margin-top: 0;
}
.orbeon .fr-clear {
  clear: both;
}
.orbeon .fr-clear-container {
  *zoom: 1;
}
.orbeon .fr-clear-container:before,
.orbeon .fr-clear-container:after {
  display: table;
  content: "";
  line-height: 0;
}
.orbeon .fr-clear-container:after {
  clear: both;
}
.orbeon .orbeon-portlet-body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
}
.orbeon .xforms-noscript .xforms-help {
  display: block;
  margin: 0 0 0 .5em;
}
.orbeon .xforms-noscript .xforms-help-panel {
  display: block;
  width: auto;
  padding: 0 1em;
}
.orbeon .xforms-noscript .xforms-help-panel .xforms-help-group {
  margin: 0 0 0.5em;
}
.orbeon .xforms-noscript .xforms-help-panel .xforms-label {
  display: inline;
}
.orbeon .xforms-noscript .xforms-help-panel .xforms-help {
  display: none;
}
.orbeon .xforms-noscript .fr-help-back {
  margin-left: 0.5em;
}
.orbeon .xforms-noscript .fr-mode-view .xforms-help,
.orbeon .xforms-noscript .fr-mode-pdf .xforms-help,
.orbeon .xforms-noscript .fr-mode-email .xforms-help {
  display: none;
}
.orbeon .xforms-alert,
.orbeon .xforms-alert.xforms-active {
  display: none;
}
.orbeon .xforms-visited > .xforms-alert.xforms-active:not(:empty),
.orbeon .xforms-visited.xforms-alert.xforms-active:not(:empty) {
  display: block;
  clear: both;
  margin-top: .2em;
  margin-left: 0;
  height: auto;
  width: auto;
  padding: 1px;
  font-weight: normal;
  font-size: inherit;
  text-indent: 0;
  background-image: none;
  white-space: normal;
}
.orbeon .xforms-visited > .xforms-alert.xforms-active:not(:empty) > ul,
.orbeon .xforms-visited.xforms-alert.xforms-active:not(:empty) > ul {
  margin-bottom: 0;
  list-style-type: square;
}
.orbeon .xforms-hint-appearance-inline .xforms-hint {
  display: block;
  margin-top: .2em;
  margin-left: 0;
  width: 100%;
}
.orbeon .xforms-hint-appearance-inline .xforms-items .xforms-hint {
  display: none;
}
.orbeon .xforms-trigger button,
.orbeon .xforms-trigger input {
  white-space: nowrap;
}
.orbeon .xforms-output output {
  word-wrap: break-word;
  white-space: normal;
}
.orbeon button.btn-link {
  text-decoration: underline;
  font-size: inherit;
  padding: 0 0 2px 0;
}
.orbeon .xforms-type-boolean input {
  background: none;
  border: none;
}
.orbeon .xforms-upload-info {
  display: block;
  width: 100%;
  padding: 2px 2px 2px 18px;
  background: url(images/silk/attach.png ) no-repeat left center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.orbeon .xforms-help-panel-message {
  padding: .5em 0;
  margin-bottom: .5em;
  border-bottom: 2px solid #ddddee;
}
.orbeon input[type=number]::-webkit-inner-spin-button,
.orbeon input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.orbeon input[type=number] {
  -moz-appearance: textfield;
}
.orbeon .xforms-select1-appearance-full .xforms-selected,
.orbeon .xforms-select-appearance-full .xforms-selected,
.orbeon .xforms-select1-appearance-full .xforms-deselected,
.orbeon .xforms-select-appearance-full .xforms-deselected {
  display: block;
}
.orbeon .xforms-select1-appearance-full label.radio,
.orbeon .xforms-select-appearance-full label.radio,
.orbeon .xforms-select1-appearance-full label.checkbox,
.orbeon .xforms-select-appearance-full label.checkbox {
  display: inline-block;
  padding-left: 0;
}
.orbeon .xforms-select1-appearance-full input[type="radio"],
.orbeon .xforms-select-appearance-full input[type="radio"],
.orbeon .xforms-select1-appearance-full input[type="checkbox"],
.orbeon .xforms-select-appearance-full input[type="checkbox"] {
  margin-left: 0;
}
.orbeon .xforms-select1-appearance-full label.radio > span,
.orbeon .xforms-select-appearance-full label.radio > span,
.orbeon .xforms-select1-appearance-full label.checkbox > span,
.orbeon .xforms-select-appearance-full label.checkbox > span {
  display: block;
  margin-left: 20px;
}
.orbeon .fr-mode-new .xforms-readonly label.radio,
.orbeon .fr-mode-edit .xforms-readonly label.radio,
.orbeon .fr-mode-test .xforms-readonly label.radio,
.orbeon .xforms-dialog .xforms-readonly label.radio,
.orbeon .fr-mode-new .xforms-readonly label.checkbox,
.orbeon .fr-mode-edit .xforms-readonly label.checkbox,
.orbeon .fr-mode-test .xforms-readonly label.checkbox,
.orbeon .xforms-dialog .xforms-readonly label.checkbox,
.orbeon .fr-mode-new .xforms-readonly .xforms-label,
.orbeon .fr-mode-edit .xforms-readonly .xforms-label,
.orbeon .fr-mode-test .xforms-readonly .xforms-label,
.orbeon .xforms-dialog .xforms-readonly .xforms-label {
  color: #999999;
}
.orbeon .fr-language-choice,
.orbeon .fr-noscript-choice,
.orbeon .fr-goto-content,
.orbeon .fr-status-icons {
  margin-right: 10px;
}
.orbeon .fr-language-choice .xforms-label,
.orbeon .fr-noscript-choice .xforms-label,
.orbeon .fr-goto-content .xforms-label,
.orbeon .fr-status-icons .xforms-label {
  display: inline;
  margin-right: 5px;
}
.orbeon .fr-noscript-icon {
  display: none;
}
.orbeon .xforms-noscript .fr-noscript-icon {
  display: inline;
}
.orbeon .fr-message-success {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.orbeon .xbl-fr-error-summary .fr-error-summary-body {
  padding: 0 10px;
}
.orbeon .xbl-fr-error-summary .fr-error-title {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.orbeon .xbl-fr-error-summary .fr-error-list {
  padding-top: 10px;
  margin-top: 0;
}
.orbeon .fr-explanation {
  padding: 10px;
}
.orbeon .fr-buttons {
  display: block;
  text-align: right;
  font-size: 0;
}
.orbeon .fr-buttons .fr-buttons-message div {
  display: inline;
}
.orbeon .fr-buttons .xforms-trigger button img {
  margin-right: 10px;
}
.orbeon .fr-buttons .xforms-trigger button,
.orbeon .fr-buttons .xforms-trigger input {
  width: 9.5em;
  margin-left: 4px;
  margin-bottom: 4px;
}
.orbeon .fr-buttons .fr-collapse-all-button.xforms-trigger button,
.orbeon .fr-buttons .fr-expand-all-button.xforms-trigger button,
.orbeon .fr-buttons .fr-refresh-button.xforms-trigger button {
  min-width: 2em;
  width: 2em;
  padding: 0;
}
.orbeon .fr-buttons .fr-collapse-all-button.xforms-trigger button,
.orbeon .fr-buttons .fr-expand-all-button.xforms-trigger button,
.orbeon .fr-buttons .fr-refresh-button.xforms-trigger button {
  min-width: 2em;
  width: 2em;
  padding: 3px;
}
.orbeon .xforms-dialog {
  max-width: 500px;
  margin-right: 10px;
}
.orbeon .xforms-dialog .bd p {
  margin: 0.5em 0 0.5em 0;
}
.orbeon .xforms-dialog .fr-dialog-icon {
  float: left;
  margin-right: 2em;
  margin-left: 1em;
  padding-bottom: 1em;
}
.orbeon .xforms-dialog .fr-dialog-buttons {
  text-align: right;
  padding: 10px 5px 0 5px;
  margin-top: 5px;
  border-top: 2px solid #ddddee;
  clear: both;
}
.orbeon .fr-captcha {
  display: block;
  padding: 0;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  text-align: right;
}
.orbeon .fr-captcha .xbl-fr-recaptcha,
.orbeon .fr-captcha .xbl-fr-simple-captcha {
  display: inline-block;
}
.orbeon .fr-captcha .xbl-fr-recaptcha > .xforms-label,
.orbeon .fr-captcha .xbl-fr-simple-captcha > .xforms-label,
.orbeon .fr-captcha .xbl-fr-recaptcha > .xforms-alert,
.orbeon .fr-captcha .xbl-fr-simple-captcha > .xforms-alert {
  display: none;
}
.orbeon .fr-captcha .xbl-fr-recaptcha {
  display: inline-block;
}
.orbeon .fr-captcha .xbl-fr-recaptcha #recaptcha_response_field {
  font-size: 13px;
}
.orbeon .fr-captcha .xbl-fr-recaptcha .recaptchatable {
  border: none !important;
}
.orbeon .fr-captcha .xbl-fr-recaptcha .recaptchatable .recaptcha_image_cell {
  background-color: transparent !important;
}
.orbeon #fr-view {
  margin-bottom: 10px;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2em select {
  width: 2em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-3em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-3em select {
  width: 3em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4em select {
  width: 4em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-5em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-5em select {
  width: 5em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-7em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-7em select {
  width: 7em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-10em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-10em select {
  width: 10em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-12em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-12em select {
  width: 12em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-15em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-15em select {
  width: 15em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-100pc input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-100pc select {
  width: 100%;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2digits input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2digits select {
  width: 29px;
}
.xforms-mobile.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2digits input.xforms-input-input,
.xforms-mobile.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2digits select {
  width: 32px;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4digits input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4digits select {
  width: 43px;
}
.xforms-mobile.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4digits input.xforms-input-input,
.xforms-mobile.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4digits select {
  width: 54px;
}
.orbeon #fr-view .xforms-help-popover {
  font-size: 13px;
  line-height: 20px;
}
.orbeon .xforms-textarea pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
}
.orbeon .xforms-form .fr-mode-view .xforms-hint,
.orbeon .xforms-form .fr-mode-pdf .xforms-hint,
.orbeon .xforms-form .fr-mode-email .xforms-hint,
.orbeon .xforms-form .fr-mode-view .xforms-help,
.orbeon .xforms-form .fr-mode-pdf .xforms-help,
.orbeon .xforms-form .fr-mode-email .xforms-help,
.orbeon .xforms-form .fr-mode-view .xforms-alert,
.orbeon .xforms-form .fr-mode-pdf .xforms-alert,
.orbeon .xforms-form .fr-mode-email .xforms-alert {
  display: none;
}
.orbeon .xforms-form .fr-mode-view .fr-grid-content .xforms-control,
.orbeon .xforms-form .fr-mode-pdf .fr-grid-content .xforms-control,
.orbeon .xforms-form .fr-mode-email .fr-grid-content .xforms-control,
.orbeon .xforms-form .fr-mode-view .fr-grid-content .fr-component-group,
.orbeon .xforms-form .fr-mode-pdf .fr-grid-content .fr-component-group,
.orbeon .xforms-form .fr-mode-email .fr-grid-content .fr-component-group {
  margin-top: 0;
}
.orbeon .xforms-form .fr-mode-view .fr-repeat-multiple-rows,
.orbeon .xforms-form .fr-mode-pdf .fr-repeat-multiple-rows,
.orbeon .xforms-form .fr-mode-email .fr-repeat-multiple-rows {
  border-top: none;
}
.orbeon .xforms-form .fr-mode-view .fr-repeat-multiple-rows .fr-grid-master-row,
.orbeon .xforms-form .fr-mode-pdf .fr-repeat-multiple-rows .fr-grid-master-row,
.orbeon .xforms-form .fr-mode-email .fr-repeat-multiple-rows .fr-grid-master-row {
  display: none;
}
.orbeon .fr-mode-view .xforms-field,
.orbeon .fr-mode-pdf .xforms-field,
.orbeon .fr-mode-email .xforms-field {
  white-space: normal;
  word-wrap: break-word;
  min-height: 28px;
  height: auto;
}
@media print {
  .orbeon #xforms-form .fr-status-icons,
  .orbeon #xforms-form .xforms-loading-loading,
  .orbeon #xforms-form .xforms-upload-remove,
  .orbeon #xforms-form .xbl-fr-attachment .xforms-output-appearance-xxforms-download,
  .orbeon #xforms-form .xforms-help,
  .orbeon #xforms-form .xforms-hint,
  .orbeon #xforms-form .fr-buttons {
    display: none;
  }
  .orbeon #xforms-form .xforms-upload-info {
    background: transparent none repeat scroll 0 0;
    padding-left: 2px;
  }
  .orbeon #xforms-form select[multiple],
  .orbeon #xforms-form .xforms-select1-appearance-compact select,
  .orbeon #xforms-form .xforms-select-appearance-compact select {
    height: auto;
  }
  .orbeon #xforms-form .fr-grid .xforms-output.xforms-mediatype-image img {
    -fs-fit-images-to-width: 100%;
  }
  .fr-page-break-before {
    page-break-before: always;
  }
  .navbar img {
    position: running(logo);
  }
  .fr-header-title {
    position: running(header-title);
  }
  .fr-footer-title {
    position: running(footer-title);
  }
  .fr-header-title div,
  .fr-footer-title div {
    max-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ol[type=i] {
    list-style-type: lower-roman;
  }
  ol[type=I] {
    list-style-type: upper-roman;
  }
  ol[type=a] {
    list-style-type: lower-alpha;
  }
  ol[type=A] {
    list-style-type: upper-alpha;
  }
  ol[type='1'] {
    list-style-type: decimal;
  }
}
@page {
  @top-left {
    content: element(logo);
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    vertical-align: bottom;
  }
  @top-center {
    content: element(header-title);
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    vertical-align: bottom;
    width: 100%;
  }
  @top-right {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    vertical-align: bottom;
  }
  @bottom-left {
    content: element(footer-title);
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-top: 0;
    vertical-align: top;
    font-size: 14px;
    padding-right: 10px;
    line-height: 26px;
  }
  @bottom-center {
    content: counter(page) " / " counter(pages);
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-top: 0;
    vertical-align: top;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 26px;
    white-space: nowrap;
  }
  @bottom-right {
    border-top: 1px solid gray;
    padding-top: 10px;
    vertical-align: top;
  }
}
