.orbeon .btn-toolbar {
  display: block;
  float: left;
}
.orbeon .pagination {
  display: block;
  float: right;
  margin-top: 6px;
  margin-bottom: 6px;
}
.orbeon .pagination .fr-paging-numbers > span {
  min-width: 125px;
  text-align: center;
}
.orbeon .row .alert,
.orbeon .row-fluid .alert {
  display: block;
  margin: 0;
}
.orbeon .fr-forms-table {
  clear: both;
  background-color: white;
}
.orbeon .fr-forms-table .fr-summary,
.orbeon .fr-forms-table .fr-new {
  text-align: center;
}
.orbeon .fr-forms-table tbody tr:nth-child(4n+3) > td {
  background-color: #f9f9f9;
}
.orbeon .fr-forms-table th {
  white-space: nowrap;
  min-width: 12px;
}
.orbeon .fr-forms-table td {
  position: relative;
}
.orbeon .fr-forms-table td a {
  width: 100%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  outline: 0;
}
.orbeon .fr-forms-table td a:hover {
  text-decoration: none;
  color: black;
}
.orbeon .fr-forms-table .fr-home-select {
  width: 1px;
}
.orbeon .fr-forms-table .fr-home-select label {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.orbeon .fr-forms-table .fr-home-select label input[type="checkbox"] {
  float: none;
  margin: 0;
}
.orbeon .fr-forms-table .fr-home-select label .label {
  vertical-align: middle;
}
.orbeon .fr-forms-table .fr-home-status {
  width: 1px;
}
.orbeon .fr-forms-table .fr-home-modified {
  width: 1px;
  white-space: nowrap;
}
.orbeon .fr-forms-table .label {
  display: inline-block;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.orbeon .fr-credentials-dialog .fr-dialog-credentials-fields {
  margin-left: 110px;
}
.orbeon .fr-credentials-dialog img {
  float: left;
  margin: 5px 10px 0 10px;
}
