@import (reference) "form-runner-common";

.orbeon {

    @media (max-width: 980px) {
    
        .fr-view {
            width: auto;
            // Add padding on the sides, so the content doesn't touch the border of the viewport
            padding: 0 10px;
        }

        .navbar-inner {
            // Remove rounded borders
            border-radius: 0;
        }
        
        .span12 {
            // Don't use fixed width
            width: auto;
            // Isn't sized based on its container if floated
            float: none;
        }

        .fr-buttons {
            .xforms-trigger button {
                // Each button takes the whole line
                width: 100%;
                margin-left: 0;
            }
        }
        
        .fr-grid:not(.fr-repeat-table) {

            // Instead of fixed, so each cell doesn't take 1/x of the width of the table
            table-layout: inherit;

            & > tbody > tr >  td {
                // The main thing this CSS does: change table cells into blocks
                display: block;
            }
        }

        .xbl-fr-wizard {

            // Use flex layout to get the TOC to show before the body
            .flex();
            .flex-direction(column-reverse);
            
            width: 100%;
            .fr-wizard-body {
                width: 100%;
                position: initial;
                // We don't need explicit borders, as they are added by the container .fr-border
                border: none;
            }
            .fr-wizard-toc {
                position: initial;
                width: 100%;
            }
        }

        // Prevent mobile browsers from zooming when an input gets the focus
        &.xforms-mobile {
            select,
            textarea,
            input[type="text"],
            input[type="password"],
            input[type="datetime"],
            input[type="datetime-local"],
            input[type="date"],
            input[type="month"],
            input[type="time"],
            input[type="week"],
            input[type="number"],
            input[type="email"],
            input[type="url"],
            input[type="search"],
            input[type="tel"],
            input[type="color"] {
                font-size: 16px;
            }
        }
    }
}