.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fr-border {
  padding: 0;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.help-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(/apps/fr/style/bootstrap/img/glyphicons-halflings.png);
  background-repeat: no-repeat;
  background-position: -120px -96px;
}
html,
body {
  background-color: #f3f3f3;
}
/* ***** Headings (titles and sections) ***************************************************************************** */
.xforms-form h2,
.xforms-form h3 {
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  margin: 0;
}
.xforms-form h2,
.xforms-form h3,
.xforms-form h4,
.xforms-form h5,
.xforms-form h6 {
  text-align: left;
  font-weight: normal;
  clear: left;
  padding: 0;
  color: #555555;
}
.xforms-form h2 {
  font-size: 18px;
  line-height: 36px;
}
.xforms-form h3,
.xforms-form h4 {
  font-size: 110%;
  line-height: 135%;
}
/* ***** Controls**************************************************************************************************** */
.fr-view .xbl-fr-box-select .xforms-select-appearance-full .xforms-items {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px 6px;
}
.fr-view .xbl-fr-box-select .xforms-select-appearance-full .xforms-items:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted  \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.xforms-noscript button.btn-link {
  text-shadow: none;
  margin-top: 0;
}
.xforms-noscript button.btn-link button {
  height: auto;
}
.xforms-noscript .xforms-help-panel .xforms-help-group {
  list-style-type: square;
}
/* ***** Other ****************************************************************************************************** */
.fr-orbeon-version {
  text-align: center;
  font-size: smaller;
  padding: 10px;
  color: #6E6E6E;
}
.fr-explanation .xforms-output {
  display: block;
  font-style: italic;
  padding: 1em;
  background-color: #f8f8f8;
}
.xforms-alert-active {
  font-weight: bold;
  font-size: smaller;
  color: #b94a48;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.xforms-hint {
  display: block;
  clear: both;
  font-size: smaller;
  margin-top: .2em;
  margin-left: 0;
  /* used to have margin here but with new colors no margin seems better */

  width: 100%;
  color: #6E6E6E;
}
/* Navbar */
.fr-language-choice,
.fr-noscript-choice,
.fr-goto-content {
  color: #555555;
  font-size: 85%;
  float: right;
  margin-top: 10px;
  text-align: right;
}
.fr-language-choice a,
.fr-noscript-choice a,
.fr-goto-content a,
.fr-language-choice button.btn-link,
.fr-noscript-choice button.btn-link,
.fr-goto-content button.btn-link {
  color: #777777;
}
.navbar-inverse .fr-language-choice,
.navbar-inverse .fr-noscript-choice,
.navbar-inverse .fr-goto-content {
  color: #ffffff;
}
.navbar-inverse .fr-language-choice a,
.navbar-inverse .fr-noscript-choice a,
.navbar-inverse .fr-goto-content a,
.navbar-inverse .fr-language-choice button.btn-link,
.navbar-inverse .fr-noscript-choice button.btn-link,
.navbar-inverse .fr-goto-content button.btn-link {
  color: #999999;
}
.fr-goto-content {
  border: 2px solid #999999;
  padding: 2px 6px;
  margin-top: 7px;
  float: left;
}
/* Add a star before the label of required fields, but only in new/edit modes */
/* NOTE: This only works in span layout (the default in FR since 2011-07-28) */
/* NOTE: Also cover Form Builder classes here instead of form-builder.css, so we don't miss changes done here */
.fr-mode-new .xforms-required .xforms-label,
.fr-mode-edit .xforms-required .xforms-label,
.fr-mode-test .xforms-required .xforms-label,
.fr-mode-new .fb-required-true .xforms-label,
.fr-mode-edit .fb-required-true .xforms-label {
  background-image: url(asterisk.png);
  background-position: 0 2px;
  /* Lower the star, so it doesn't sit "too high" relative to the text of the label */

  background-repeat: no-repeat;
  padding-left: 12px;
}
/* Colored border for invalid fields */
/* NOTE: We don't use this style for required fields, as we are now using an asterisk next to the label */
.xforms-invalid-visited .xforms-input-input,
textarea.xforms-invalid-visited {
  border-color: #b94a48;
}
/* Upload control information */
.xforms-upload-info {
  background-color: transparent;
}
/* Table of contents */
.fr-toc a {
  text-decoration: none;
}
/* Error summary */
.fr-view .xbl-fr-error-summary .fr-error-title {
  font-size: smaller;
  font-weight: bold;
  background-color: #b94a48;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fr-view .xbl-fr-error-summary .fr-error-label,
.fr-view .xbl-fr-error-summary .fr-error-row {
  font-weight: bold;
}
.fr-view .xbl-fr-error-summary .fr-error-alert {
  color: #b94a48;
}
.fr-view .xbl-fr-error-summary .fr-error-summary-body {
  padding: 0;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* Section */
.xbl-fr-section {
  background-color: white;
}
.xbl-fr-section .fr-section-title .fr-section-label {
  display: block;
  padding-left: 20px;
  height: 100%;
  overflow: hidden;
  font-size: 20px;
}
.xbl-fr-section .fr-section-title .fr-section-label a {
  text-decoration: none;
  color: #555555;
}
.xbl-fr-section .fr-section-title .fr-section-label label {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 0;
}
.xbl-fr-section .fr-section-title .fr-section-label.fr-section-open,
.xbl-fr-section .fr-section-title .fr-section-label.fr-section-closed {
  background-repeat: no-repeat;
  background-position: 5px 15px;
  cursor: pointer;
}
.xbl-fr-section .fr-section-title .fr-section-label.fr-section-open {
  background-image: url(arrow-down.png);
}
.xbl-fr-section .fr-section-title .fr-section-label.fr-section-closed {
  background-image: url(arrow-right.png);
}
/* Add background to static read-only fields and special output fields */
.xforms-static,
.fr-static {
  min-height: 1em;
}
.fr-mode-view .fr-grid-content {
  margin-bottom: 1em;
}
.fr-mode-view .fr-repeat .fr-grid-content {
  background-color: transparent;
  margin-bottom: 0;
}
.table th {
  text-align: center;
}
/* ***** Print and PDF ********************************************************************************************** */
/* This is also used for PDF generation */
@media print {
  html {
    font-family: "Arial Unicode MS";
  }
  html,
  html body {
    background-color: white;
    background-image: none;
  }
  html body {
    padding-top: 0;
  }
  form.xforms-form a,
  form.xforms-form button.btn-link {
    color: black;
    text-decoration: none;
  }
  form.xforms-form .xforms-required label {
    background-image: none;
    padding-left: 0;
  }
  form.xforms-form .container {
    width: 100%;
  }
  form.xforms-form .fr-body {
    border: none;
  }
  form.xforms-form h2 {
    border-bottom: 1px solid #e3e3e3;
  }
  form.xforms-form .navbar {
    position: static;
  }
  form.xforms-form .navbar-inner {
    background-color: white;
    border-bottom: 1px solid #e3e3e3;
  }
  form.xforms-form .navbar-inner .fr-language-choice {
    display: none;
  }
  form.xforms-form .navbar-inner .brand {
    color: #555555;
    font-size: 25px;
  }
  form.xforms-form .fr-form-description {
    display: none;
  }
  form.xforms-form .xbl-fr-section .fr-section-title .fr-section-label {
    padding-left: 0;
  }
  form.xforms-form .xbl-fr-section .fr-section-title .fr-section-opened,
  form.xforms-form .xbl-fr-section .fr-section-title .fr-section-closed {
    background-image: none;
  }
}
