.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fr-border {
  padding: 0;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.help-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(bootstrap/img/glyphicons-halflings.png);
  background-repeat: no-repeat;
  background-position: -120px -96px;
}
.fr-plain-checkbox-container {
  width: 1px;
}
.fr-plain-checkbox-container label {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.fr-plain-checkbox-container label input[type="checkbox"] {
  float: none;
  margin: 0;
}
.fr-plain-checkbox-container label .label {
  vertical-align: middle;
}
