.orbeon .fr-summary-search,
.orbeon .fr-summary-table-div,
.orbeon .fr-summary-search-count {
  display: block;
  margin: 10px 0;
}
.orbeon .fr-summary-search .fr-search-free {
  display: inline-block;
  width: auto;
}
.orbeon .fr-summary-search .fr-search-free input {
  width: 25em;
}
.orbeon .fr-summary-search .fr-search-options {
  display: block;
}
.orbeon .fr-summary-search .fr-search-options .fr-summary-search-item {
  display: inline-block;
  margin-bottom: 10px;
}
.orbeon .fr-summary-search .fr-search-options .fr-summary-search-item input,
.orbeon .fr-summary-search .fr-search-options .fr-summary-search-item select {
  width: 12em;
}
.orbeon .fr-summary-search .fr-search-buttons {
  display: inline-block;
}
.orbeon .fr-summary-table-div {
  overflow: auto;
  background: white;
}
.orbeon .fr-summary-table-div .alert {
  display: block;
  margin: 0;
}
.orbeon .fr-summary-table-div table {
  margin-bottom: 0;
  max-width: none;
}
.orbeon .fr-summary-table-div tbody tr:nth-child(4n+3) > td {
  background-color: #f9f9f9;
}
.orbeon .fr-summary-table-div tbody a,
.orbeon .fr-summary-table-div tbody a:hover {
  text-decoration: none;
  color: black;
  outline: 0;
}
.orbeon .fr-summary-table-div td > span {
  white-space: nowrap;
}
.orbeon .fr-summary-table-div td a {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.orbeon .fr-summary-table-div th {
  white-space: nowrap;
}
.orbeon .fr-summary-table-div .fr-summary-repeat-labels,
.orbeon .fr-summary-table-div .fr-summary-created,
.orbeon .fr-summary-table-div .fr-summary-modified {
  width: 1px;
}
.orbeon .fr-summary-table-div .fr-summary-repeat-selection-checkbox {
  width: 1px;
}
.orbeon .fr-summary-table-div .fr-summary-repeat-selection-checkbox label {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.orbeon .fr-summary-table-div .fr-summary-repeat-selection-checkbox label input[type="checkbox"] {
  float: none;
  margin: 0;
}
.orbeon .fr-summary-table-div .fr-summary-repeat-selection-checkbox label span {
  display: none;
}
.orbeon .fr-summary-table-div .fr-summary-repeat-selection-checkbox label .label {
  vertical-align: middle;
}
.orbeon .xforms-noscript .fr-summary-table-div td legend {
  display: none;
}
.orbeon .xforms-noscript .fr-summary-table-div td .datatable-cell-content {
  overflow: visible;
}
.orbeon .pagination {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}
.orbeon .pagination .fr-paging-numbers > span {
  min-width: 125px;
  text-align: center;
}
.orbeon .fr-buttons {
  margin-top: 7px;
  margin-bottom: 0;
}
.orbeon .xforms-readonly input {
  background-color: white;
  background-image: none;
  border: 0 solid white;
}
