.fr-border {
  padding: 0;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
.narrow-td {
  width: 1px;
}
.fr-plain-checkbox-container {
  width: 1px;
}
.fr-plain-checkbox-container label {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.fr-plain-checkbox-container label input[type="checkbox"] {
  float: none;
  margin: 0;
}
.fr-plain-checkbox-container label span {
  display: none;
}
.fr-plain-checkbox-container label .label {
  vertical-align: middle;
}
