@media (max-width: 980px) {
  .orbeon .fr-view {
    width: inherit;
    padding: 0 10px;
  }
  .orbeon .navbar-inner {
    border-radius: 0;
  }
  .orbeon .span12 {
    width: initial;
    float: none;
  }
  .orbeon .fr-buttons .xforms-trigger button {
    width: 100%;
    margin-left: 0;
  }
  .orbeon .fr-grid:not(.fr-repeat-table) {
    table-layout: inherit;
  }
  .orbeon .fr-grid:not(.fr-repeat-table) > tbody > tr > td {
    display: block;
  }
}
