.orbeon .navbar .navbar-inner .container .fr-status-icons {
  display: block;
  float: right;
}
.orbeon .navbar .navbar-inner .container .fr-status-icons i {
  margin-left: 5px;
}
.orbeon .navbar .navbar-inner .container .badge {
  margin-left: 5px;
}
.orbeon .navbar .navbar-inner .container img {
  margin-right: 15px;
}
.orbeon .navbar .navbar-inner .container h1 {
  margin-left: 0;
}
.orbeon .fr-body {
  display: block;
}
.orbeon .fr-body h2 {
  margin-top: 0;
}
.orbeon .fr-clear {
  clear: both;
}
.orbeon .fr-clear-container {
  *zoom: 1;
}
.orbeon .fr-clear-container:before,
.orbeon .fr-clear-container:after {
  display: table;
  content: "";
  line-height: 0;
}
.orbeon .fr-clear-container:after {
  clear: both;
}
.orbeon .orbeon-portlet-body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}
.orbeon .xforms-noscript .xforms-help {
  display: block;
  margin: 0 0 0 .5em;
}
.orbeon .xforms-noscript .fr-section-title .fr-section-label button.btn-link {
  color: #555555;
  font-size: inherit;
  *font-size: 20px;
}
.orbeon .xforms-noscript .fr-section-title .fr-section-label .xforms-help {
  display: inline;
}
.orbeon .xforms-noscript .fr-section-title .fr-section-label .xforms-help-anchor {
  display: none;
}
.orbeon .xforms-noscript .xforms-help-panel {
  display: block;
  width: auto;
  padding: 0 1em;
}
.orbeon .xforms-noscript .xforms-help-panel .xforms-help-group {
  margin: 0 0 0.5em;
}
.orbeon .xforms-noscript .xforms-help-panel .xforms-label {
  display: inline;
}
.orbeon .xforms-noscript .xforms-help-panel .xforms-help {
  display: none;
}
.orbeon .xforms-noscript .fr-help-back {
  margin-left: 0.5em;
}
.orbeon .xforms-noscript .fr-mode-view .xforms-help,
.orbeon .xforms-noscript .fr-mode-pdf .xforms-help,
.orbeon .xforms-noscript .fr-mode-email .xforms-help {
  display: none;
}
.orbeon .xforms-alert,
.orbeon .xforms-alert.xforms-active {
  display: none;
}
.orbeon .xforms-visited > .xforms-alert.xforms-active,
.orbeon .xforms-visited.xforms-alert.xforms-active {
  display: block;
  clear: both;
  margin-top: .2em;
  margin-left: 0;
  height: auto;
  width: auto;
  padding: 1px;
  font-weight: normal;
  font-size: inherit;
  text-indent: 0;
  background-image: none;
  white-space: normal;
}
.orbeon .xforms-visited > .xforms-alert.xforms-active > ul,
.orbeon .xforms-visited.xforms-alert.xforms-active > ul {
  margin-bottom: 0;
  list-style-type: square;
}
.orbeon .xforms-hint-appearance-inline .xforms-hint {
  display: block;
  margin-top: .2em;
  margin-left: 0;
  width: 100%;
}
.orbeon .xforms-hint-appearance-inline .xforms-items .xforms-hint {
  display: none;
}
.orbeon .xforms-trigger button,
.orbeon .xforms-trigger input {
  white-space: nowrap;
}
.orbeon button.btn-link {
  text-decoration: underline;
  font-size: inherit;
  padding: 0 0 2px 0;
}
.orbeon .xforms-type-boolean input {
  background: none;
  border: none;
}
.orbeon .xforms-upload-info {
  display: block;
  width: 100%;
  padding: 2px 2px 2px 18px;
  background: url(images/silk/attach.png ) no-repeat left center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.orbeon .xforms-help-panel-message {
  padding: .5em 0;
  margin-bottom: .5em;
  border-bottom: 2px solid #ddddee;
}
.orbeon .fr-language-choice,
.orbeon .fr-noscript-choice,
.orbeon .fr-goto-content,
.orbeon .fr-status-icons {
  margin-right: 10px;
}
.orbeon .fr-language-choice .xforms-label,
.orbeon .fr-noscript-choice .xforms-label,
.orbeon .fr-goto-content .xforms-label,
.orbeon .fr-status-icons .xforms-label {
  display: inline;
  margin-right: 5px;
}
.orbeon .fr-noscript-icon {
  display: none;
}
.orbeon .xforms-noscript .fr-noscript-icon {
  display: inline;
}
.orbeon .fr-message-success {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.orbeon .xbl-fr-error-summary .fr-error-summary-body {
  padding: 0 10px;
}
.orbeon .xbl-fr-error-summary .fr-error-title {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  *width: 97.5%;
}
.orbeon .xbl-fr-error-summary .fr-error-list {
  padding-top: 10px;
  margin-top: 0;
}
.orbeon .fr-explanation {
  padding: 10px;
}
.orbeon .fr-buttons {
  display: block;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}
.orbeon .fr-buttons .fr-buttons-message div {
  display: inline;
}
.orbeon .fr-buttons .xforms-trigger button img {
  margin-right: 10px;
}
.orbeon .fr-buttons .xforms-trigger button,
.orbeon .fr-buttons .xforms-trigger input {
  width: 9.5em;
  *width: 9em;
}
.orbeon .fr-buttons .fr-collapse-all-button.xforms-trigger button,
.orbeon .fr-buttons .fr-expand-all-button.xforms-trigger button,
.orbeon .fr-buttons .fr-refresh-button.xforms-trigger button {
  min-width: 2em;
  width: 2em;
  padding: 0;
}
.orbeon .fr-buttons .fr-collapse-all-button.xforms-trigger button,
.orbeon .fr-buttons .fr-expand-all-button.xforms-trigger button,
.orbeon .fr-buttons .fr-refresh-button.xforms-trigger button {
  min-width: 2em;
  width: 2em;
  padding: 3px;
}
.orbeon .fr-repeat-table.fr-repeat-single-row td > .fr-grid-content > * > .xforms-label,
.orbeon .fr-repeat-table.fr-repeat-single-row td > .fb-hover > .fr-grid-content > * > .xforms-label,
.orbeon .fr-repeat-table.fr-repeat-single-row td > .fr-grid-content > * > .xforms-help,
.orbeon .fr-repeat-table.fr-repeat-single-row td > .fb-hover > .fr-grid-content > * > .xforms-help,
.orbeon .fr-repeat-table.fr-repeat-single-row td > .fr-grid-content > * > .xforms-hint,
.orbeon .fr-repeat-table.fr-repeat-single-row td > .fb-hover > .fr-grid-content > * > .xforms-hint {
  display: none;
}
.orbeon .fr-repeat-table.fr-repeat-single-row th span.xforms-group {
  display: block;
}
.orbeon .fr-repeat-table tr th .xforms-label {
  display: block;
}
.orbeon .fr-repeat-table tr th .xforms-help {
  margin-top: 4px;
}
.orbeon .fr-repeat-table .fr-repeat-column-trigger {
  width: 35px;
  text-align: left;
}
.orbeon .fr-repeat-table .fr-repeat-column-trigger i {
  margin: 0;
  display: block;
  margin: auto;
}
.orbeon .fr-repeat-table .fr-repeat-column-trigger span i {
  *margin-left: 0px;
}
.orbeon .fr-repeat-table .fr-repeat-column-trigger button {
  display: block;
  margin: auto;
}
.orbeon .fr-repeat-table .fr-repeat-column-trigger .dropdown-menu i {
  display: inline-block;
  margin-right: 5px;
}
.orbeon .fr-repeat-table .xforms-repeat-selected-item-1 .fr-repeat-column-trigger {
  background-color: #eeeeee;
}
.orbeon .fr-repeat-table .fr-repeat-column-trigger .dropdown {
  display: none;
}
.orbeon .fr-repeat-table .can-remove .dropdown,
.orbeon .fr-repeat-table .can-move-up .dropdown,
.orbeon .fr-repeat-table .can-move-down .dropdown,
.orbeon .fr-repeat-table .can-insert-above .dropdown,
.orbeon .fr-repeat-table .can-insert-below .dropdown {
  display: block;
}
.orbeon .xforms-dialog {
  width: 500px;
}
.orbeon .xforms-dialog .bd p {
  margin: 0.5em 0 0.5em 0;
}
.orbeon .xforms-dialog .fr-dialog-icon {
  float: left;
  margin-right: 2em;
  margin-left: 1em;
  padding-bottom: 1em;
}
.orbeon .xforms-dialog .fr-dialog-buttons {
  text-align: right;
  padding: 10px 5px 0 5px;
  margin-top: 5px;
  border-top: 2px solid #ddddee;
  clear: both;
}
.orbeon .xforms-dialog.fr-submission-result-dialog {
  width: 500px;
}
.orbeon .xbl-fr-section {
  display: block;
}
.orbeon .xbl-fr-section .fr-section-title .xforms-help {
  float: left;
  margin-top: 11px;
  margin-right: 5px;
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(bootstrap/img/glyphicons-halflings.png);
  background-repeat: no-repeat;
  background-position: -120px -96px;
}
.orbeon .xbl-fr-section .fr-section-open-close img {
  margin-right: 0;
}
.orbeon .xbl-fr-section .fr-section-open-close {
  padding: 0 7px 0 7px;
}
.orbeon .xbl-fr-section .fr-section-content {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.orbeon .fr-captcha {
  display: block;
  padding: 0;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align: right;
}
.orbeon .fr-captcha .xbl-fr-recaptcha,
.orbeon .fr-captcha .xbl-fr-simple-captcha {
  display: inline-block;
}
.orbeon .fr-captcha .xbl-fr-recaptcha > .xforms-label,
.orbeon .fr-captcha .xbl-fr-simple-captcha > .xforms-label,
.orbeon .fr-captcha .xbl-fr-recaptcha > .xforms-alert,
.orbeon .fr-captcha .xbl-fr-simple-captcha > .xforms-alert {
  display: none;
}
.orbeon .fr-captcha .xbl-fr-recaptcha {
  display: inline-block;
}
.orbeon .fr-captcha .xbl-fr-recaptcha #recaptcha_response_field {
  font-size: 13px;
}
.orbeon .fr-captcha .xbl-fr-recaptcha .recaptchatable {
  border: none !important;
}
.orbeon .fr-captcha .xbl-fr-recaptcha .recaptchatable .recaptcha_image_cell {
  background-color: transparent !important;
}
.orbeon .fr-grid {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 10px;
}
.orbeon .fr-grid thead tr th {
  text-align: left;
}
.orbeon .fr-grid tbody tr td {
  vertical-align: top;
  width: auto;
}
.orbeon .fr-grid .xforms-help {
  float: left;
  margin-top: 4px;
  margin-right: 3px;
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(bootstrap/img/glyphicons-halflings.png);
  background-repeat: no-repeat;
  background-position: -120px -96px;
}
.orbeon .fr-grid .xforms-label {
  margin-top: 2px;
  margin-bottom: 4px;
  overflow: hidden;
  zoom: 1;
}
.orbeon .fr-grid select,
.orbeon .fr-grid textarea,
.orbeon .fr-grid input[type="text"],
.orbeon .fr-grid input[type="password"],
.orbeon .fr-grid input[type="datetime"],
.orbeon .fr-grid input[type="datetime-local"],
.orbeon .fr-grid input[type="date"],
.orbeon .fr-grid input[type="month"],
.orbeon .fr-grid input[type="time"],
.orbeon .fr-grid input[type="week"],
.orbeon .fr-grid input[type="number"],
.orbeon .fr-grid input[type="email"],
.orbeon .fr-grid input[type="url"],
.orbeon .fr-grid input[type="search"],
.orbeon .fr-grid input[type="tel"],
.orbeon .fr-grid input[type="color"],
.orbeon .fr-grid .uneditable-input {
  width: 100%;
  *padding: 2px;
  *width: 98%;
}
.orbeon .fr-grid .xforms-textarea textarea {
  width: 100%;
}
.orbeon .fr-grid input[type="file"] {
  width: auto;
  *width: 98%;
}
.orbeon .fr-grid .xbl-fr-autocomplete .xforms-input input {
  width: 140px;
}
.orbeon .fr-grid .xbl-fr-inplace-input {
  width: 100%;
}
.orbeon .fr-grid .xbl-fr-inplace-input input {
  width: 100%;
  *width: 98%;
}
.orbeon .fr-grid .xforms-mediatype-text-html textarea {
  height: 10.1em;
}
.orbeon .fr-grid .xforms-input input.xforms-type-date,
.orbeon .fr-grid .xforms-input input.xforms-type-time {
  width: 7.5em;
}
.orbeon .fr-grid .xforms-type-boolean input {
  width: auto;
}
.orbeon .fr-grid .xforms-mediatype-image {
  width: 100%;
  overflow: auto;
  display: block;
}
.orbeon .fr-grid .xforms-mediatype-image {
  *padding-bottom: 17px;
  *overflow-y: hidden;
}
.orbeon .fr-grid .xforms-mediatype-image img {
  display: block;
}
.orbeon .fr-grid .fr-grid-content .xforms-trigger button,
.orbeon .fr-grid .fr-grid-content .xforms-trigger input {
  margin-top: 1.72em;
}
.orbeon .fr-grid .fr-grid-content .xforms-trigger button,
.orbeon .fr-grid .fr-grid-content .yui-button .xforms-trigger input {
  margin-top: 0;
}
.orbeon .fr-grid .fr-grid-content {
  padding: 4px;
  *padding-right: 6px;
  *zoom: 1;
}
.orbeon .fr-repeat-table .fr-grid-content {
  padding-top: 0;
  padding-bottom: 0;
}
.orbeon #fr-view {
  margin-bottom: 10px;
}
.orbeon #fr-view .xbl-fr-autocomplete .fr-autocomplete-container .yui-ac .fr-autocomplete-search .xforms-input-input {
  *width: 13em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content img.xforms-input-input {
  *width: auto;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .xforms-input input.xforms-type-date,
.orbeon #fr-view .fr-grid td .fr-grid-content .xforms-input input.xforms-type-time {
  *width: 6.3em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2em select {
  width: 2em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-3em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-3em select {
  width: 3em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4em select {
  width: 4em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-5em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-5em select {
  width: 5em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-7em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-7em select {
  width: 7em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-10em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-10em select {
  width: 10em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-12em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-12em select {
  width: 12em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-15em input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-15em select {
  width: 15em;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-100pc input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-100pc select {
  width: 100%;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2digits input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-2digits select {
  width: 29px;
}
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4digits input.xforms-input-input,
.orbeon #fr-view .fr-grid td .fr-grid-content .fr-width-4digits select {
  width: 43px;
}
.orbeon #fr-view .xforms-help-popover {
  font-size: 13px;
  line-height: 20px;
}
.orbeon .xforms-textarea pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  *white-space: normal;
  word-break: normal;
}
.orbeon .xforms-form .fr-mode-view .xforms-hint,
.orbeon .xforms-form .fr-mode-pdf .xforms-hint,
.orbeon .xforms-form .fr-mode-email .xforms-hint,
.orbeon .xforms-form .fr-mode-view .xforms-help,
.orbeon .xforms-form .fr-mode-pdf .xforms-help,
.orbeon .xforms-form .fr-mode-email .xforms-help,
.orbeon .xforms-form .fr-mode-view .xforms-alert,
.orbeon .xforms-form .fr-mode-pdf .xforms-alert,
.orbeon .xforms-form .fr-mode-email .xforms-alert {
  display: none;
}
.orbeon .xforms-form .fr-mode-view .fr-section-title img,
.orbeon .xforms-form .fr-mode-pdf .fr-section-title img,
.orbeon .xforms-form .fr-mode-email .fr-section-title img {
  display: none;
}
.orbeon .xforms-form .fr-mode-view .fr-grid-content .xforms-control,
.orbeon .xforms-form .fr-mode-pdf .fr-grid-content .xforms-control,
.orbeon .xforms-form .fr-mode-email .fr-grid-content .xforms-control,
.orbeon .xforms-form .fr-mode-view .fr-grid-content .fr-component-group,
.orbeon .xforms-form .fr-mode-pdf .fr-grid-content .fr-component-group,
.orbeon .xforms-form .fr-mode-email .fr-grid-content .fr-component-group {
  margin-top: 0;
}
.orbeon .xforms-form .fr-mode-view .fr-repeat-multiple-rows,
.orbeon .xforms-form .fr-mode-pdf .fr-repeat-multiple-rows,
.orbeon .xforms-form .fr-mode-email .fr-repeat-multiple-rows {
  border-top: none;
}
.orbeon .xforms-form .fr-mode-view .fr-repeat-multiple-rows .fr-grid-master-row,
.orbeon .xforms-form .fr-mode-pdf .fr-repeat-multiple-rows .fr-grid-master-row,
.orbeon .xforms-form .fr-mode-email .fr-repeat-multiple-rows .fr-grid-master-row {
  display: none;
}
.orbeon .fr-mode-view .xforms-field,
.orbeon .fr-mode-pdf .xforms-field,
.orbeon .fr-mode-email .xforms-field {
  white-space: normal;
  word-wrap: break-word;
  min-height: 28px;
  height: auto;
}
@media print {
  .orbeon #xforms-form .fr-status-icons,
  .orbeon #xforms-form .xforms-loading-loading,
  .orbeon #xforms-form .xforms-upload-remove,
  .orbeon #xforms-form .xbl-fr-attachment .xforms-output-appearance-xxforms-download,
  .orbeon #xforms-form .xforms-help,
  .orbeon #xforms-form .fr-section-title .xforms-help,
  .orbeon #xforms-form .xforms-hint,
  .orbeon #xforms-form .fr-buttons {
    display: none;
  }
  .orbeon #xforms-form .xforms-upload-info {
    background: transparent none repeat scroll 0 0;
    padding-left: 2px;
  }
  .orbeon #xforms-form select[multiple],
  .orbeon #xforms-form .xforms-select1-appearance-compact select,
  .orbeon #xforms-form .xforms-select-appearance-compact select {
    height: auto;
  }
  .orbeon #xforms-form .fr-grid .xforms-output.xforms-mediatype-image img {
    -fs-fit-images-to-width: 100%;
  }
  .fr-page-break-before {
    page-break-before: always;
  }
  .navbar img {
    position: running(logo);
  }
  .fr-header-title {
    position: running(header-title);
  }
  .fr-footer-title {
    position: running(footer-title);
  }
  .fr-header-title div,
  .fr-footer-title div {
    max-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@page {
  @top-left {
    content: element(header-title);
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    vertical-align: bottom;
  }
  @top-center {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    vertical-align: bottom;
    width: auto;
  }
  @top-right {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    vertical-align: bottom;
  }
  @bottom-left {
    content: element(footer-title);
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-top: 0;
    vertical-align: top;
    font-size: 14px;
    padding-right: 10px;
    line-height: 26px;
  }
  @bottom-center {
    content: counter(page) " / " counter(pages);
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-top: 0;
    vertical-align: top;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 26px;
    white-space: nowrap;
  }
  @bottom-right {
    border-top: 1px solid gray;
    padding-top: 10px;
    vertical-align: top;
  }
}
