/* IE em factor: 0.9759 */

html { overflow: scroll; }

body {
    background-color: #eee;
}

body, body table, textarea.xforms-textarea {
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

.fr-hidden-controls { display: none }

.fr-top { line-height: 10px; }
#doc .fr-top { background-image: url(top-750-ee.png); }
#doc4 .fr-top { background-image: url(top-974-ee.png); }

.fr-bottom { background-repeat: no-repeat; }
#doc .fr-bottom { background-image: url(bottom-750-ee.png); }
#doc4 .fr-bottom { background-image: url(bottom-974-ee.png); }



.fr-bottom .fr-orbeon-version {
    text-align: center;
    font-size: smaller;
    padding: 10px;
    color: gray;
}

.fr-container {
    background-color: white;
    border: 1px solid #cccccc
}

.fr-separator {
    background-color: #3598d4;
    line-height: 1em;
    clear: both;
}

.fr-body, .fr-buttons-block {
    padding: 1em
}

h1 { margin-top: 0 }

.fr-body .info h2 {
    font-size: 160%;
    font-family: inherit;
    color: #000000
}

.fr-body .info p {
    font-size: 95%;
    font-family: inherit;
    color: #444444
}

.fr-body .section h3 {
    font-size: 110%;
    font-family: inherit;
    background-color: #ffffff;
    color: #000000
}

.fr-body .section p {
    font-size: 85%;
    font-family: inherit;
    color: #444444
}

.fr-logo {
    background-color: #F8F8F8;
    background-image: url(logo-bg.gif);
    background-position: top;
    padding: 1em;
}

.fr-logo table { width: 100% }
.fr-logo table tr td { vertical-align: middle }
.fr-logo img { margin-right: 1em }
.fr-logo h1 { margin: 0; padding: 0; font-weight: normal; white-space: nowrap; color: #3598d4; text-align: right }

.fr-form-description { display: block; margin: 2em; padding: 1em; border: 4px solid #3598d4; background-color: white }

 /*{ margin: 0; padding: .5em; border: 4px solid #3598d4; background-color: white }*/

.fr-header { overflow: hidden;  }
.fr-summary-language-choice { float: right; margin-right: 1em; margin-top: .2em; color: gray; font-size: 85%; text-align: right; }
.fr-summary-language-choice a { color: gray; }
.fr-summary-language-choice .xforms-label { display: inline; margin-right: .5em }

.xforms-label, h4  {
    display: block;
    font-weight: bold;
    padding-bottom: .2em;
    /*margin-top: .5em;*/
    text-align: left;
    margin-bottom: 0;
}

div.fr-body {
    margin: 20px 10px 0 10px;
    padding: 0 0 20px 0;
}

.fr-section-body {
    display: block;
    overflow: hidden;
    margin: 0 1.5em 1em 1.7em;
    padding: 0 0 0 0;
}

/* Make sure xforms-disabled  and xforms-repeat-template takes precendence over display: block on other classes */
label.xforms-disabled, span.xforms-disabled, div.xforms-disabled  { display: none; }
label.xforms-repeat-template { display: none; }

/* Make sure non-relevant labels don't appear */
/*label.xforms-disabled { display: none; }*/
label.xforms-alert-inactive { display: none; }
/*img.xforms-disabled { display: none; }*/
.xforms-disabled .xforms-label { display: none }
.xforms-case-deselected .xforms-label { display: none }

/* Make sure text in trigger does not wrap (leads to non-native widget being used on Firefox) */
button.xforms-trigger { white-space: nowrap; }
button.xforms-trigger img { padding-right: 10px; }

.fr-layout-table { padding: 0; margin: 0 }
.fr-layout-table tr td { width: auto; vertical-align: top }

h2 a, h3 a, h4 a {
    color: black;
    vertical-align: middle;
}

h2 {
    font-weight: normal;
    font-size: 160%;
    margin: .5em 0 .5em 0;
    clear: left;
}

h3, h4 {
    font-weight: normal;
    font-size: 110%;
    line-height: 135%;
    margin: 1em 0 1em 0;
    padding: 0 0 0 0;
}

.xforms-repeat-selected-item-1 { background-color: transparent }
.xforms-repeat-selected-item-2 { background-color: transparent }
.xforms-repeat-selected-item-3 { background-color: transparent }
.xforms-repeat-selected-item-4 { background-color: transparent }

.fr-summary-table tbody .xforms-repeat-selected-item-1 { background-color: #3598D4 }
.fr-summary-table tbody .xforms-repeat-selected-item-2 { background-color: #3598D4 }/* HACK for IE 7 only */
.fr-summary-table tbody tr:hover { background-color: #3598D4 }

.fr-summary-table .xforms-label { display: none; }
.fr-summary-table, .fr-summary-table td, .fr-summary-table th { border: 1px solid #600 }
.fr-summary-table th { background-color: #f8f8f8 }
.fr-summary-table td, .fr-summary-table th { padding: 4px }

.fr-summary-table {
    margin: 1px 0 0 1px;
    border-collapse: collapse;
    width: 100%;
}

.fr-summary-welcome-message { display: block; margin-top: 1em; margin-bottom: 1em }

.fr-paging-buttons button { width: 12em; vertical-align: middle; margin-top: .5em }
.fr-paging-numbers { vertical-align: middle; margin-left: .5em; margin-right: .5em }


hr {
    border: 1px solid #eee;
}

/* Make sure xforms-disabled takes precendence over display: block on other classes */
label.xforms-disabled, span.xforms-disabled, div.xforms-disabled  {
    display: none;
}

.fr-buttons {
    padding-right: 1em;
    float: right;
}

.fr-buttons button {
    width: 14em
}

/* Repeats: all */
.fr-repeat td { vertical-align: top; padding: 0.2em }
/* First column of the table with the number displayed */
.fr-repeat .fr-repeat-column { width: auto; }
.fr-repeat {
    background-color: #EEEEEE;
    /* Fix for Firefox in cases where the top and left borders of the table are not displayed */
    margin: 1px 0 0 1px;
}

/* Repeats: shows as sections (can have multiple lines per iteration; repeated field labels) */
.fr-repeat-sections th { display: none; }
.fr-repeat-sections .xforms-label { margin-top: 0; }

/* Repeats: shows as table (1 line per iteration; labels used as header of table) */
.fr-repeat-table { border-collapse: collapse; }
.fr-repeat-table td , .fr-repeat-table th { border: 1px solid black; padding: .2em .5em .2em .5em; }
/* Styling for last dummy line added so IE displays the bottom border of the table */
.fr-repeat-table .fr-repeat-last-line td { border: none; padding: 0; }
.fr-repeat-table th { background-color: #DDDDDD; }
.fr-repeat-table .xforms-label { display: none; }

.fr-non-collapsible { padding-left: 1.1em; }

.fr-search-input input {
    background-image: url(search.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

.xforms-input input, textarea.xforms-textarea {
    background-image: url(field.png);
    background-repeat: repeat-x;
    border: 1px solid #CCCCCC;
}

/*.xforms-group { display: inline }*/
/*.xforms-help-image { display: inline }*/

td { border: 0 }
h1 { font-size: 197% }
i { font-style: italic }
a { color: #3598D4 }
th, td {border: 0; padding: 0 }

.fr-print-mode .fr-section-title img { display: none; }
.fr-print-mode .xforms-help-image { display: none; }

/* Not sure why the YUI resets this to center */
body { text-align: left }

/* Display alerts under each control */
.xforms-alert-active {
    display: block;
    font-size: smaller;
    font-weight: bold;
    margin-left: .5em;
    /*width: 100%;*/
    width: auto;
    color: red;
    text-indent: 0;
    background-image: none
}

/* Display hints under each control */
.xforms-hint {
    display: block;
    font-size: smaller;
    margin-left: .5em;
    /*width: 22em;*/
    width: 100%;
    color: gray
}

/* Do this for collapsible sections so that YUI animations work */
div.fr-collapsible {
    overflow: hidden;
    margin-left: 22px;
}

/* Dialogs */
.fr-dialog { width: 400px; }
/* Overrides YUI reset so numbers in enumaration do show */
.fr-dialog ol { padding-left: 3em; }
.fr-dialog li { list-style-type: decimal; }
.fr-dialog .bd p { margin: 1em 0 1em 0; }
.fr-dialog .bd { margin: 0 1em 1em 1em; }
/* Style for icon in dialogs  */
.fr-dialog-icon { float: left; margin-right: 2em; margin-left: 1em; padding-bottom: 1em; }
.fr-dialog-message { margin-top: 1em; padding-top: 0.5em; }
.fr-dialog-buttons { text-align: right; padding-right: 2em; padding-top: 2em; }

/* Messages */
.fr-message-success { color: green  }
.fr-message-validation-error { color: orange }
.fr-message-fatal-error { color: red }
.fr-unsaved-data { color: red }

/* Errors */
.fr-error-buttons { float: left }
.fr-error-buttons td { padding: 0.2em }
.fr-error-title { color: #f90; font-size: 160%; }
.fr-error-list li { margin-bottom: .5em; }
.fr-error-list label { display: none }
.fr-error-label { font-weight: bold }
.fr-error-row { font-weight: bold }
.fr-error-alert {}

/* Radio buttons spacing */
/*.xforms-select1-appearance-full label { margin-left: .5em; margin-right: 1em }*/

/* Sections */
.fr-section-container { display: block; clear: both }
.fr-section-container p { margin-top: 1em; }
.fr-section-container img.fr-open-close { margin-right: .5em }

/* Radio buttons */
.xforms-select1-appearance-full span { display: block; clear: both; }
.xforms-select1-appearance-full span label { margin-left: .5em; margin-right: 1em }

.fr-grid .xforms-select1-appearance-full span input { float: left; }
.fr-grid .xforms-select1-appearance-full span label { float: left; margin-right: 0 }
/* Size of text for radio button; needs to be set for every page width / columns number combination */
#doc .fr-grid-2-columns .xforms-select1-appearance-full span label { width: 21em; *width: 20.5em }

#doc4 .fr-grid-1-columns .xforms-select1-appearance-full span label { width: 68em; *width: 66em }
#doc4 .fr-grid-2-columns .xforms-select1-appearance-full span label { width: 32em; *width: 31em  }
#doc4 .fr-grid-3-columns .xforms-select1-appearance-full span label { width: 20em; *width: 19em }
#doc4 .fr-grid-4-columns .xforms-select1-appearance-full span label { width: 14.5em; *width: 14em }

/* Checkboxes */
.xforms-select-appearance-full span { display: block; clear: both }
.xforms-select-appearance-full span label { margin-left: .5em; margin-right: 1em }

.fr-grid .xforms-select-appearance-full span input { float: left; }
.fr-grid .xforms-select-appearance-full span label { float: left; margin-right: 0 }

/* Size of text for checkboxes; needs to be set for every page width / columns number combination */
#doc .fr-grid-2-columns .xforms-select-appearance-full span label { width: 22.5em; *width: 21.9em }

#doc4 .fr-grid-1-columns .xforms-select-appearance-full span label { width: 68em; *width: 66em }
#doc4 .fr-grid-2-columns .xforms-select-appearance-full span label { width: 32.2em; *width: 31em }
#doc4 .fr-grid-3-columns .xforms-select-appearance-full span label { width: 20.2em; *width: 19em }
#doc4 .fr-grid-4-columns .xforms-select-appearance-full span label { width: 14.5em; *width: 14em }

/* Grid */

.fr-grid { width: 100%; border-collapse: separate; clear: both; margin-bottom: 0 }
.fr-grid tr th { text-align: left }
.fr-grid .fr-grid-content { *overflow: hidden }/* IE HACK so that scrollable images work in the table */

.fr-grid .fr-layout-table tr td { width: auto }

/* Cell content */
.fr-grid-content { *padding-right: 6px }/* To help IE move back controls within .fr-grid-content */
.fr-grid .xforms-input input { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
.fr-grid .xforms-upload input { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
.fr-grid .fr-inplace-value { width: 100% }
.fr-grid .xforms-textarea { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
.fr-grid .xforms-select1-appearance-minimal { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
.fr-grid .xforms-select1-appearance-compact { width: 100%; height: 6em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
.fr-grid .xforms-select-appearance-compact { width: 100%; height: 6em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box  }

/* Image output */
.fr-grid .xforms-mediatype-image { width: 100%; overflow: auto; display: block }
.fr-grid .xforms-mediatype-image { *padding-bottom: 17px; *overflow-y: hidden }/* IE HACK */
.fr-grid .xforms-mediatype-image img { display: block }

.fr-grid-td { width: auto; padding: .5em; vertical-align: top; overflow: hidden }
.fr-grid-td .fb-grid-content { width: 64em; *width: 62.4576em }

.fr-grid-2-columns .fr-grid-td { width: 50%; }
#doc .fr-grid-2-columns .fr-grid-td .fr-grid-content { width: 25em; *width: 24.4em }
#doc4 .fr-grid-2-columns .fr-grid-td .fr-grid-content { width: 34em; *width: 33.1806em }

.fr-grid-3-columns .fr-grid-td { width: 33.3%; }
#doc .fr-grid-3-columns .fr-grid-td .fr-grid-content { width: 17em; *width: 16.6em }
#doc4 .fr-grid-3-columns .fr-grid-td .fr-grid-content { width: 22em; *width: 21.4698em }

.fr-grid-4-columns .fr-grid-td { width: 25%; }
#doc .fr-grid-4-columns .fr-grid-td .fr-grid-content { width: 16.5em; *width: 16.1em }
#doc4 .fr-grid-4-columns .fr-grid-td .fr-grid-content { width: 16.5em; *width: 16.10235em }

/* Upload control information */
.xforms-upload-info { display: block; width: 100%; background-color: #FFFFDD; padding: 2px }
.xforms-upload-mediatype, xforms-upload-size { padding-left: 1em }
.xforms-upload-remove { vertical-align: top }
