@import "../../../resources/apps/fr/style/bootstrap-src/less/variables";
@import "../../../resources/apps/fr/style/bootstrap-src/less/mixins";

body {
    .license {
        text-align: center;
        font-size: 11px;
        margin-bottom: 1em;
    }
}
