.orbeon #xforms-form .xforms-repeat-template,
.orbeon #xforms-form .xforms-template,
.orbeon #xforms-form .xforms-repeat-delimiter,
.orbeon #xforms-form .xforms-repeat-begin-end,
.orbeon #xforms-form .xforms-group-begin-end,
.orbeon #xforms-form .xforms-disabled-subsequent,
.orbeon #xforms-form .xforms-case-begin-end,
.orbeon #xforms-form .xforms-case-deselected-subsequent,
.orbeon #xforms-form .xforms-hidden {
  display: none;
}
.orbeon #xforms-form .xforms-disabled,
.orbeon #xforms-form .xforms-case-deselected,
.orbeon #xforms-form .xforms-case-deselected .xforms-case-selected {
  top: -10000px;
  left: -10000px;
  position: absolute;
}
.orbeon #xforms-form col.xforms-disabled,
.orbeon #xforms-form th.xforms-disabled,
.orbeon #xforms-form td.xforms-disabled,
.orbeon #xforms-form tr.xforms-disabled,
.orbeon #xforms-form thead.xforms-disabled,
.orbeon #xforms-form tbody.xforms-disabled,
.orbeon #xforms-form tfoot.xforms-disabled {
  display: none;
}
.orbeon #xforms-form br.xforms-disabled,
.orbeon #xforms-form br.xforms-case-deselected,
.orbeon #xforms-form .xforms-case-deselected br.xforms-case-selected {
  display: none;
}
.orbeon #xforms-form .xforms-disabled a,
.orbeon #xforms-form a.xforms-disabled,
.orbeon #xforms-form .xforms-case-deselected a,
.orbeon #xforms-form a.xforms-case-deselected {
  display: none;
}
.orbeon #xforms-form .xforms-disabled input,
.orbeon #xforms-form .xforms-disabled textarea,
.orbeon #xforms-form .xforms-disabled select,
.orbeon #xforms-form .xforms-disabled button {
  visibility: hidden;
}
.orbeon #xforms-form .xforms-case-deselected input,
.orbeon #xforms-form .xforms-case-deselected textarea,
.orbeon #xforms-form .xforms-case-deselected select,
.orbeon #xforms-form .xforms-case-deselected button {
  visibility: hidden;
}
.orbeon #xforms-form tr.xforms-disabled,
.orbeon #xforms-form .xforms-disabled tr,
.orbeon #xforms-form th.xforms-disabled,
.orbeon #xforms-form .xforms-disabled th,
.orbeon #xforms-form td.xforms-disabled,
.orbeon #xforms-form .xforms-disabled td {
  border-style: none ! important;
}
.orbeon #xforms-repeat-tree,
.orbeon #xforms-repeat-indexes {
  display: none;
}
.orbeon .xforms-case-selected {
  position: static;
}
.orbeon .xforms-hint {
  display: none;
}
.orbeon .xforms-help {
  display: inline-block;
  margin-left: 0;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  text-indent: 20px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background-image: url(../../ops/images/xforms/help.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.orbeon .xforms-hint-region {
  border-bottom: 1px dashed black;
}
.orbeon .popover.xforms-help-popover {
  width: 400px;
  max-width: none;
}
.orbeon .popover.xforms-help-popover .close {
  padding: 5px 10px;
}
.orbeon .popover.xforms-help-popover .popover-content {
  overflow: auto;
  box-sizing: border-box;
  white-space: pre-wrap;
}
.orbeon .xforms-alert {
  display: none;
}
.orbeon .xforms-alert.xforms-active {
  display: inline-block;
  white-space: nowrap;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: 20px;
  background-image: url(../../ops/images/xforms/exclamation.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.orbeon .xforms-static {
  border: none;
}
.orbeon .xforms-output {
  display: inline;
}
.orbeon .xforms-trigger-appearance-minimal img,
.orbeon .xforms-submit-appearance-minimal img {
  border: 0;
}
.orbeon .xforms-trigger-appearance-xxforms-minimal button,
.orbeon .xforms-submit-appearance-xxforms-minimal button {
  border: none;
  background: transparent;
  cursor: hand;
}
.orbeon button.xforms-trigger-appearance-xxforms-minimal::-moz-focus-inner,
.orbeon .xforms-trigger-appearance-xxforms-minimal button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.orbeon .xforms-input input.xforms-type-date {
  width: 8em;
  padding-right: 16px;
  background-image: url(../../ops/images/xforms/calendar.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.orbeon .xforms-ios .xforms-input input.xforms-type-date {
  width: initial;
  padding-right: initial;
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
}
.orbeon .xforms-type-date img {
  vertical-align: middle;
  padding-left: .2em;
}
.orbeon .xforms-readonly img.xforms-type-date {
  display: none;
}
.orbeon .xforms-input input.xforms-type-time {
  width: 8em;
  padding-right: 16px;
  background-image: url(../../ops/images/xforms/clock.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.orbeon .xforms-ios .xforms-input input.xforms-type-time {
  width: initial;
  padding-right: initial;
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
}
.orbeon .xforms-type-dateTime input.xforms-type-date {
  margin-right: 1em;
}
.orbeon .xforms-input input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.orbeon .xforms-placeholder input {
  color: #bbb;
}
.orbeon .xforms-textarea textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
}
.orbeon .xforms-secret input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.orbeon .xforms-textarea-appearance-xxforms-autosize textarea {
  width: 100%;
  overflow: hidden;
}
.orbeon .xforms-mediatype-text-html textarea {
  width: 550px;
  height: 300px;
}
.orbeon .xforms-select1-appearance-full label {
  vertical-align: middle;
  margin-right: 0.5em;
}
.orbeon fieldset.xforms-select1-appearance-full {
  margin: 0;
  border: none;
}
.orbeon .xforms-select-appearance-full input {
  vertical-align: middle;
}
.orbeon .xforms-select-appearance-full label {
  vertical-align: middle;
  margin-right: 0.5em;
}
.orbeon fieldset.xforms-select-appearance-full {
  margin: 0;
  border: none;
}
.orbeon .xforms-dialog .bd {
  overflow: auto;
}
.orbeon .xforms-group-appearance-xxforms-fieldset {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
}
.orbeon .xforms-range-background {
  position: relative;
  background: url(../../ops/images/xforms/slider-horizontal-background.png) no-repeat;
  height: 26px;
  width: 218px;
  z-index: 5;
}
.orbeon .xforms-range-thumb {
  position: absolute;
  left: 0;
  top: 8px;
  cursor: default;
  width: 18px;
  height: 20px;
  background: url(../../ops/images/xforms/slider-horizontal-thumb.png) no-repeat;
}
.orbeon .xforms-upload.xforms-upload-state-empty .xforms-upload-info {
  display: none;
}
.orbeon .xforms-upload.xforms-upload-state-empty .xforms-upload-progress {
  display: none;
}
.orbeon .xforms-upload.xforms-upload-state-progress .xforms-upload-select {
  display: none;
}
.orbeon .xforms-upload.xforms-upload-state-progress .xforms-upload-info {
  display: none;
}
.orbeon .xforms-upload.xforms-upload-state-file .xforms-upload-select {
  display: none;
}
.orbeon .xforms-upload.xforms-upload-state-file .xforms-upload-progress {
  display: none;
}
.orbeon .xforms-upload .xforms-upload-mediatype {
  display: none;
}
.orbeon .xforms-upload .xforms-upload-size {
  padding-left: 8px;
  white-space: nowrap;
}
.orbeon .xforms-upload .xforms-upload-size:not(:empty):before {
  content: "(";
}
.orbeon .xforms-upload .xforms-upload-size:not(:empty):after {
  content: ")";
}
.orbeon .xforms-upload .xforms-upload-remove {
  vertical-align: middle;
  margin-top: -4px;
  padding-left: 8px;
  cursor: pointer;
}
.orbeon .xforms-upload .xforms-upload-progress .yui-pb,
.orbeon .xforms-upload .xforms-upload-progress .xforms-upload-cancel {
  vertical-align: middle;
}
.orbeon .xforms-upload .xforms-upload-progress .xforms-upload-cancel {
  padding-left: 0.5em;
}
.orbeon .xforms-upload .xforms-upload-progress .yui-pb {
  display: inline-block;
}
.orbeon .xforms-upload.xforms-readonly .xforms-upload-remove,
.orbeon .xforms-upload.xforms-readonly .xforms-upload-select {
  display: none;
}
.orbeon .xforms-trigger button img,
.orbeon .xforms-trigger button span {
  vertical-align: middle;
}
.orbeon .xforms-submit button img,
.orbeon .xforms-submit button span {
  vertical-align: middle;
}
.orbeon .xforms-trigger-readonly a {
  color: gray;
  cursor: default;
}
.orbeon #orbeon-calendar-div .yui-calendar .calheader {
  padding-top: .3em;
}
.orbeon #orbeon-calendar-div .yui-calendar .calnavleft {
  top: 7px;
}
.orbeon #orbeon-calendar-div .yui-calendar .calyearleft {
  overflow: hidden;
  position: absolute;
  text-indent: -10000em;
  z-index: 1;
  background: transparent url(../../ops/images/xforms/calendar-left-double.png) no-repeat scroll;
  bottom: 0;
  cursor: pointer;
  height: 15px;
  left: -10px;
  margin-left: 0.4em;
  top: -7px;
  width: 25px;
}
.orbeon #orbeon-calendar-div .yui-calendar .calnavright {
  top: 7px;
}
.orbeon #orbeon-calendar-div .yui-calendar .calyearright {
  overflow: hidden;
  position: absolute;
  text-indent: -10000em;
  z-index: 1;
  background: transparent url(../../ops/images/xforms/calendar-right-double.png) no-repeat scroll;
  bottom: 0;
  cursor: pointer;
  height: 15px;
  right: -10px;
  margin-right: 0.4em;
  top: -7px;
  width: 25px;
}
.orbeon .yui-skin-sam .xforms-select1-appearance-xxforms-menu .yuimenubaritemlabel {
  border: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.orbeon .yui-tt-shadow {
  display: none;
}
.orbeon .xforms-loading-loading {
  background-color: #c44;
  color: #fff;
  padding: 2px;
  position: absolute;
  right: 2em;
}
.orbeon .xforms-loading-none {
  display: block;
  height: 0;
}
.orbeon .xforms-error-panel .bd {
  background-image: url(../../ops/images/xforms/warning_64.png);
  background-position: 20px 20px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 110px !important;
  overflow: auto;
  background-color: white;
}
.orbeon .xforms-error-panel {
  width: 500px;
}
.orbeon .xforms-error-panel .hd {
  background-color: #FF6600;
}
.orbeon .xforms-error-panel .xforms-error-panel-details-hidden,
.orbeon .xforms-error-panel .xforms-error-panel-details-shown {
  vertical-align: middle;
}
.orbeon .xforms-error-panel .xforms-error-panel-show-details,
.orbeon .xforms-error-panel .xforms-error-panel-hide-details,
.orbeon .xforms-error-panel .xforms-error-panel-close,
.orbeon .xforms-error-panel .xforms-error-panel-reload {
  cursor: pointer;
}
.orbeon .xforms-noscript .xforms-error-panel {
  margin: auto;
}
.orbeon .xforms-help-panel {
  width: 300px;
}
.orbeon .xforms-help-panel .xforms-help-panel-close {
  text-align: right;
}
.orbeon .xforms-noscript-panel {
  display: block;
  border: 4px solid #FF6600;
  width: auto;
  margin: 1em;
  padding: .5em;
}
.orbeon .xforms-debug {
  background-color: #fc9;
  position: absolute;
  -moz-opacity: 0.5;
  opacity: 0.5;
  border: 1px solid red;
  font-size: 11px;
}
.orbeon .xforms-message {
  list-style: disc;
  display: list-item;
  margin-left: 2em;
}
.orbeon .xforms-select1-appearance-xxforms-tree,
.orbeon .xforms-select-appearance-xxforms-tree {
  display: block;
}
.orbeon .ygtvcontent .xforms-tree-label-selected,
.orbeon .ygtvcontent .xforms-tree-label-selected:hover {
  background-color: #ffff66;
}
.orbeon .ygtvfocus .ygtvlabel,
.orbeon .ygtvfocus .ygtvlabel:hover {
  background-color: transparent;
}
.orbeon a.ygtvlabel {
  cursor: pointer;
}
.orbeon .ygtvfocus {
  background-color: transparent;
}
.orbeon .xforms-select-appearance-xxforms-tree table,
.orbeon .xforms-select1-appearance-xxforms-tree table {
  margin: 0;
}
.orbeon #xforms-form .xforms-width-2em input.xforms-input-input,
.orbeon #xforms-form .xforms-width-2em select {
  width: 2em;
}
.orbeon #xforms-form .xforms-width-3em input.xforms-input-input,
.orbeon #xforms-form .xforms-width-3em select {
  width: 3em;
}
.orbeon #xforms-form .xforms-width-5em input.xforms-input-input,
.orbeon #xforms-form .xforms-width-5em select {
  width: 5em;
}
.orbeon #xforms-form .xforms-width-7em input.xforms-input-input,
.orbeon #xforms-form .xforms-width-7em select {
  width: 7em;
}
.orbeon #xforms-form .xforms-width-10em input.xforms-input-input,
.orbeon #xforms-form .xforms-width-10em select {
  width: 10em;
}
.orbeon #xforms-form .xforms-width-15em input.xforms-input-input,
.orbeon #xforms-form .xforms-width-15em select {
  width: 15em;
}
#orbeon-spinner .bd {
  background-color: white;
}
#orbeon-spinner .xforms-modal-progress {
  width: 40px;
  height: 40px;
  background-image: url(../../ops/images/xforms/processing.gif);
}
@media print {
  html body.orbeon .xforms-loading-loading,
  html body .orbeon .xforms-loading-loading {
    display: none;
  }
  html body .xforms-initially-hidden {
    display: block;
  }
  html body noscript,
  html body style {
    display: none;
  }
}
