.container_registry_name
.database_server_name
.storage_account_name
application.keystore
Dockerfile
form-builder-permissions.xml
oidc.json
orbeon-forms-deployment.yaml
orbeon-forms-pv.yaml
orbeon-forms-pvc.yaml
standalone.xml
storage-secret.yaml
web.xml
webapp