@import (reference)  "../../../apps/fr/style/form-runner-common";

.orbeon {

    // 2024-05-29: Moved spread out styles to here

    // Make default button a little darker
    .btn {
        .buttonBackgroundOrbeon(var(--orbeon-button-background-color), var(--orbeon-button-highlight-background-color), var(--orbeon-button-color), var(--orbeon-button-disabled-background-color), var(--orbeon-button-disabled-color));
    }

    button.btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    // Buttons used as dropdown toggles

    button.btn.dropdown-toggle {
        display: inline-block;
    }

    .btn-group.open button.btn.dropdown-toggle {
        background-color: var(--orbeon-dropdown-open-toggle-background-color);
    }

    button.btn.dropdown-toggle .caret {
        border-top: 4px solid var(--orbeon-dropdown-caret-color);
    }

    .btn-group.dropup button.btn.dropdown-toggle .caret {
        border-top: 0;
        border-bottom: 4px solid var(--orbeon-dropdown-caret-color);
    }

    // TODO: find a better way to do this: 1) trigger.less shouldn't have to care about dropdowns 2) why do we use
    //  .btn and .btn-link elements in dropdown menus?

    // Dropdowns overrides
    .dropdown.open {
        .btn {
            color: var(--orbeon-dropdown-menu-color);
            background-color: var(--orbeon-dropdown-menu-background-color);

            &.disabled, &[disabled] {
                color: var(--orbeon-dropdown-menu-disabled-color);
                background-color: transparent;
            }

            &:hover, &:focus {
                color: var(--orbeon-dropdown-menu-hover-color);
                background-color: var(--orbeon-dropdown-menu-hover-background-color);
            }

            &:active, &.active {
                color: var(--orbeon-dropdown-menu-selected-color);
                background-color: var(--orbeon-dropdown-menu-selected-background-color);
            }
        }

        .dropdown-menu > .disabled > a:hover,
        .dropdown-menu > .disabled > a:focus {
            background-color: transparent;
        }
    }

    button.btn kbd, a kbd {
        background-color: transparent;
        border: 1px solid var(--orbeon-base-color);
        line-height: 16px;

        display: none; // hide by default, will show on hover
        border-radius: 2px;
        padding: 0 .5em;
        margin-left: 1em;
        margin-right: -7px;

        font-family: system-ui; // `monospace` has ugly modifiers/keyboard fonts
        font-size: var(--orbeon-kbd-hint-font-size);

        opacity: .6; // less prominent

        &:empty {
            display: none;
        }
    }

    .buttonBackgroundOrbeon(@backgroundColor, @highlightBackgroundColor, @color, @disabledBackgroundColor, @disabledColor) {

        color: @color;
        background-color: @backgroundColor;
        background-image: none;
        text-shadow: none;

        &:not(.disabled):not([disabled]) {
            &:hover, &:focus, &:active, &.active {
                color: @color;
                background-color: @highlightBackgroundColor;
            }
            .fa {
                color: @color;
            }
            kbd {
                border-color: @color;
            }
        }

        &.disabled, &[disabled] {
            color: @disabledColor;
            background-color: @disabledBackgroundColor;
            opacity: var(--orbeon-button-disabled-opacity);
            .fa {
                color: @disabledColor;
                opacity: var(--orbeon-button-disabled-icon-opacity);
            }
        }
    }

    .xforms-trigger-appearance-xxforms-primary .btn, .btn-primary {
        .buttonBackgroundOrbeon(var(--orbeon-button-primary-background-color), var(--orbeon-button-primary-highlight-background-color), var(--orbeon-button-primary-color), var(--orbeon-button-primary-disabled-background-color), var(--orbeon-button-primary-disabled-color));
    }
    .xforms-trigger-appearance-xxforms-warning .btn, .btn-warning {
        .buttonBackgroundOrbeon(var(--orbeon-button-warning-background-color), var(--orbeon-button-warning-highlight-background-color), var(--orbeon-button-warning-color), var(--orbeon-button-warning-disabled-background-color), var(--orbeon-button-warning-disabled-color));
    }
    .xforms-trigger-appearance-xxforms-danger .btn, .btn-danger {
        .buttonBackgroundOrbeon(var(--orbeon-button-danger-background-color), var(--orbeon-button-danger-highlight-background-color), var(--orbeon-button-danger-color), var(--orbeon-button-danger-disabled-background-color), var(--orbeon-button-danger-disabled-color));
    }
    .xforms-trigger-appearance-xxforms-success .btn, .btn-success {
        .buttonBackgroundOrbeon(var(--orbeon-button-success-background-color), var(--orbeon-button-success-highlight-background-color), var(--orbeon-button-success-color), var(--orbeon-button-success-disabled-background-color), var(--orbeon-button-success-disabled-color));
    }
    .xforms-trigger-appearance-xxforms-info .btn, .btn-info {
        .buttonBackgroundOrbeon(var(--orbeon-button-info-background-color), var(--orbeon-button-info-highlight-background-color), var(--orbeon-button-info-color), var(--orbeon-button-info-disabled-background-color), var(--orbeon-button-info-disabled-color));
    }
    .xforms-trigger-appearance-xxforms-inverse .btn, .btn-inverse {
        .buttonBackgroundOrbeon(var(--orbeon-button-inverse-background-color), var(--orbeon-button-inverse-highlight-background-color), var(--orbeon-button-inverse-color), var(--orbeon-button-inverse-disabled-background-color), var(--orbeon-button-inverse-disabled-color));
    }

    button.btn, label.btn {
        background-image: none;
        text-shadow: none;
        border: none;
    }

    // Updates to Bootstrap btn-link
    button.btn-link {
        white-space: normal;
        text-align: inherit;
        text-decoration: underline;
        font-size: inherit;
        padding: 0 0 2px 0;

        text-decoration-thickness: from-font; // this tends to make the line thinner
        text-underline-offset: 0.2rem;        // otherwise the line touches the bottom of the characters
        text-decoration-skip-ink: auto;       // `auto` is the default, but we want to be explicit
    }

    .dark-mode({
        .btn {
            // Disable box shadows in dark mode
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    });
}