@import (reference)  "../../../apps/fr/style/form-runner-common";

.orbeon {

    // 2024-05-29: Moved spread out styles to here

    // Make default button a little darker
    .btn {
        color: var(--orbeon-button-color);
        background-color: var(--orbeon-button-background-color);

        &.disabled, &[disabled] {
            color: var(--orbeon-button-color);
            background-color: var(--orbeon-button-background-color); // restore default color or buttons are too dark when disabled
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: var(--orbeon-button-color);
            background-color: var(--orbeon-button-highlight-background-color);
        }
    }

    button.btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    button.btn.dropdown-toggle {
        display: inline-block;
    }

    .btn-group.open button.btn.dropdown-toggle {
        background-color: var(--orbeon-dropdown-open-toggle-background-color);
    }

    // Dropdowns overrides
    .dropdown.open {
        .btn {
            background-color: var(--orbeon-dropdown-item-background-color);

            &.disabled, &[disabled] {
                background-color: var(--orbeon-dropdown-item-background-color);
            }

            &:hover,
            &:focus,
            &:active,
            &.active {
                background-color: var(--orbeon-dropdown-item-highlight-background-color);
            }
        }

        .dropdown-menu > .disabled > a:hover,
        .dropdown-menu > .disabled > a:focus {
            background-color: var(--orbeon-dropdown-item-disabled-highlight-background-color);
        }
    }

    button.btn kbd, a kbd {
        background-color: transparent;
        border: 1px solid var(--orbeon-base-color);
        line-height: 16px;

        display: none; // hide by default, will show on hover
        border-radius: 2px;
        padding: 0 .5em;
        margin-left: 1em;
        margin-right: -7px;

        font-family: system-ui; // `monospace` has ugly modifiers/keyboard fonts
        font-size: var(--orbeon-kbd-hint-font-size);

        opacity: .6; // less prominent

        &:empty {
            display: none;
        }
    }

    .buttonBackgroundOrbeon(@startColor, @endColor, @textColor) {

        color: @textColor;
        background-color: @startColor;
        background-image: none;
        text-shadow: none;

        &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
            color: @textColor;
            background-color: @endColor;
        }

        kbd {
            border-color: @textColor;
        }
    }

    .xforms-trigger-appearance-xxforms-primary .btn, .btn-primary {
        .buttonBackgroundOrbeon(var(--orbeon-button-primary-background-color), var(--orbeon-button-primary-highlight-background-color), var(--orbeon-button-primary-color));
    }
    .xforms-trigger-appearance-xxforms-warning .btn, .btn-warning {
        .buttonBackgroundOrbeon(var(--orbeon-button-warning-background-color), var(--orbeon-button-warning-highlight-background-color), var(--orbeon-button-warning-color));
    }
    .xforms-trigger-appearance-xxforms-danger .btn, .btn-danger {
        .buttonBackgroundOrbeon(var(--orbeon-button-danger-background-color), var(--orbeon-button-danger-highlight-background-color), var(--orbeon-button-danger-color ));
    }
    .xforms-trigger-appearance-xxforms-success .btn, .btn-success {
        .buttonBackgroundOrbeon(var(--orbeon-button-success-background-color), var(--orbeon-button-success-highlight-background-color), var(--orbeon-button-success-color));
    }
    .xforms-trigger-appearance-xxforms-info .btn, .btn-info {
        .buttonBackgroundOrbeon(var(--orbeon-button-info-background-color), var(--orbeon-button-info-highlight-background-color), var(--orbeon-button-info-color));
    }
    .xforms-trigger-appearance-xxforms-inverse .btn, .btn-inverse {
        .buttonBackgroundOrbeon(var(--orbeon-button-inverse-background-color), var(--orbeon-button-inverse-highlight-background-color), var(--orbeon-button-inverse-color));
    }

    button.btn, label.btn {
        background-image: none;
        text-shadow: none;
        border: none;
    }

    // Updates to Bootstrap btn-link
    button.btn-link {
        white-space: normal;
        text-align: inherit;
        text-decoration: underline;
        font-size: inherit;
        padding: 0 0 2px 0;

        text-decoration-thickness: from-font; // this tends to make the line thinner
        text-underline-offset: 0.2rem;        // otherwise the line touches the bottom of the characters
        text-decoration-skip-ink: auto;       // `auto` is the default, but we want to be explicit
    }
}